@{
    ViewBag.Title = "Index";
}

<!-- Scripts -->
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-ui-1.11.1.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-es.js"></script>
<script src="~/Scripts/bootstrap-3.2.js"></script>
<script src="~/Scripts/bootstrap-select.js"></script>

<style>
    .tooltip.top .tooltip-inner {
        background-color: red;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: red;
    }

    .panel-adm {
        background-color: lightgray;
        height: 300px;
    }

    /*.img-admin {
        width: 40%;
    }*/

    .contenedor-admin {
        top: 200px;
    }
</style>

<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="~/Inicio/">Inicio</a></li>
    <li class="active">Administración</li>
</ol>
<section style="background-color:white">
   
    <div class="col-md-10 col-md-offset-1 contenedor-admin">
    @* Validar si es usuario administrador muestra el contenido de la pagina *@
    @if ((User.Identity.Name.Split('|')[1]) == "True")
    {
        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
            <div class="panel-adm">
                <a href="~/Administracion/Mapa" data-toggle="tooltip" title="Módulo de administración Mapa">
                    <br />
                    <img src="~/Content/Imagenes/clima_zonas.png" class="img-admin" />
                </a>
                
                <div class="caption" style="text-align:center">
                    <h3>Administración Mapa</h3>
                </div>
                <h5> Este módulo tiene como principal objetivo  administrar parametros y variables de clima, alertas agroclimáticas y ofertas tecnológicas </h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
            <div class="panel-adm">
                <a href="~/Administracion/Productividad" data-toggle="tooltip" title="Módulo de administración producividad">
                    <img src="~/Content/Imagenes/admin_clima.png" class="img-admin" />
                </a>
                <div class="caption" style="text-align:center">
                    <h3>Administración productividad</h3>
                </div>
                <h5> Este módulo permite ingresar a las opciones para administrar el módulo de productividad.</h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
            <div class="panel-adm">
                <a href="~/Administracion/Glosario" data-toggle="tooltip" title="Módulo de glosario">
                    <br />
                    <img src="~/Content/Imagenes/ofertas_inicio.png" class="img-admin" />
                </a>
                <div class="caption" style="text-align:center">
                    <h3>Administración glosario</h3>
                </div>
                <h5> Este módulo permite ingresar a las opciones para administrar el módulo de glosario</h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 text-center">
            <div class="panel-adm">
                <a href="~/Administracion/Parametros" data-toggle="tooltip" title="Módulo de parámetros">
                    <br />
                    <img src="~/Content/Imagenes/clima_inicio.png" class="img-admin" />
                </a>
                <div class="caption" style="text-align:center">
                    <h3>Administración general</h3>
                </div>
                <h5> Este módulo permite ingresar a las opciones para administrar otras opciones generales del sistema experto</h5>
            </div>
        </div>
    }
    else
    {
        <div class="text-center" style="color: red">
            No tiene permisos para ingresar a este menu.
        </div>
        }
    </div>
    
</section>