
@{
    ViewBag.Title = "Index";
}

<!-- Scripts -->
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/bootstrap-3.2.js"></script>
<script src="~/Scripts/bootstrap-select.js"></script>

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<link href="~/Content/demo_page.css" rel="stylesheet" />
<link href="~/Content/demo_table.css" rel="stylesheet" />
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">General</a></li>
    <li><a href="~/estacion/Index">Estaciones</a></li>
    <li class="active">Carga masiva estaciones</li>
</ol>





<div class="col-sm-12 col-md-offset-1 col-md-11 contenido">

    <div class="col-md-12">
        <h2>Carga masiva de datos mensuales de estaciones</h2>
    </div>

    <div class="col-md-12">
        <hr />
        <br />
    </div>

    <div>
        <br />
        <br />
        <h4>
            PASO 1: Presione el botón para guardar en el servidor el archivo Excel (con formato .xlsx) que desea cargar:
        </h4>
        <br />

        
        @Html.ActionLink("Leer Excel", "LeeRutaExcel", null, new { @class = "btn btn-default" })
        @if (TempData["IndicaOK"] == "OK")
        {

            <i class="icon-ok-sign" style=" font-size: 2em; color:green"></i>

        }
        <br />
        <br />


    </div>

    <br />
    <br />

    <div>
        <h4>PASO 2: Presione el siguiente botón para cargar el Excel del paso 1 a la Base de datos:</h4>
        <br />
       
    </div>

    <div class="derecha">
        @Html.ActionLink("Cargar Datos en BD", "RegistroMasivo", null, new { @class = "btn btn-default", @id = "id_boton_cargar" })
        <br />
        <br />

    </div>
    <div class="panel-danger" id="panel_info_cierre" style="display:none">
        <i class="icon-danger" style=" font-size: 2em; color:red"></i>
        <span style="color:red">Recuerde que esta operación puede demorar un poco de acuerdo a la cantidad de datos a cargar en el Sistema Experto.</span>
        <br />
        <br />
        <span style="color:red">
            Por favor no cierre este formulario. Al terminar la carga se mostrará un resumen de la operación realizada.
        </span>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#id_boton_cargar").mouseover(function () {
            $("#panel_info_cierre").show();
        });
    });
</script>




