@{
    ViewBag.Title = "Index";
}

<!-- Scripts -->
<script src="~/Scripts/jquery-2.1.1.js"></script>

<style>
    body {
        background-color: #BBE3F9;
    }
    .imagen-submenu {
        max-width: 250px;
        max-height: 250px;
    }
        .color-fondo-mapa {
            background-color: #662E8F;
        }

        .color-fondo-productividad {
            background-color: #00A99D;
        }

        .color-fondo-SIAP {
            background-color: #5FCB50;
        }

        .color-fondo-cebolla {
            background-color: #808080;
        }

        .color-fondo-glosario {
            background-color: #9E005D;
        }

        .color-texto-mapa {
            color: #662E8F;
        }

        .color-texto-productividad {
            color: #00A99D;
        }

        .color-texto-glosario {
            color: #9E005D;
        }
    
        body{
          zoom:90%
        }
</style>

<!-- ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="~/Inicio/Submenu">Menú</a></li>
</ol>


<div class="row" style="background-color:#BBE3F9; padding-top:30px; height:480px;">

    <div class="col-md-10 col-md-offset-1">

        <!--Módulo A-->
        <div class="col-md-4" style="padding-bottom:20px;">
            <div style="text-align: center;">
                <p style="font-size:1.3em;">Módulo A:</p>
                <a href="~/Regional/Pais" style="display: inline-block;" class="enlace-modulo-a">
                    <img src="~/Content/imagenes/modulos/icono-mapa.png" class="imagen-submenu img-responsive" >
                </a>
                <br />
                <a role="button" class="btn color-fondo-mapa enlace-modulo-a" href="~/Regional/Pais"
                   style="padding:0 20px; border-radius:20px; color:white">SE Mapa</a>
            </div>
        </div>
        
        <!--Módulo B-->
        <div class="col-md-4" style="padding-bottom:20px;">
            <div style="text-align: center;">
                <p style="font-size:1.3em;">Módulo B:</p>
                <a href="~/Productividad/Index" style="display: inline-block;" class="enlace-modulo-b">
                    <img src="~/Content/imagenes/modulos/icono-productividad.png" class="imagen-submenu img-responsive">
                </a>
                <br />
                <a role="button" class="btn color-fondo-productividad enlace-modulo-b" href="~/Productividad/Index"
                   style="padding:0 20px; border-radius:20px; color:white;">Agua - Rendimiento</a>
            </div>
        </div>

        <!--Glosario-->
        <div class="col-md-4" style="padding-bottom:20px; text-align: center;">
            <div style="text-align: center;">
                <p style="font-size:1.3em;">Módulo C:</p>
                <a href="~/Termino/InicioVideos" style="display: inline-block;" class="enlace-modulo-c">
                    <img src="~/Content/imagenes/modulos/icono-glosario.png" class="imagen-submenu img-responsive">
                </a>
                <br />
                <a role="button" class="btn color-fondo-glosario enlace-modulo-c" href="~/Termino/InicioVideos"
                   style="padding:0 20px; border-radius:20px; color:white">Glosario</a>
            </div>
        </div>

    </div>

    

    <div class="col-md-10 col-md-offset-1">

        <!--SIAP-->
        <div class="col-md-4" style="padding-bottom:20px;">
            <div style="text-align: center;">
                <p style="font-size:1.3em;">Módulo D:</p>
                <a href="~/SIAP" style="display: inline-block;" class="enlace-modulo-d">
                    <img src="~/Content/imagenes/modulos/iconomoduloD.png" class="imagen-submenu img-responsive">
                </a>
                <br />
                <a role="button" class="btn color-fondo-SIAP enlace-modulo-d" href="~/SIAP"
                   style="padding:0 20px; border-radius:20px; color:white;">SIAP</a>

            </div>
        </div>

        <!--Cebolla-->
        <div class="col-md-4" style="padding-bottom:20px;">
            <div style="text-align: center;">
                <p style="font-size:1.3em;">Módulo E:</p>
                <a href="~/Cebolla" style="display: inline-block;" class="enlace-modulo-e">
                    <img src="~/Content/imagenes/modulos/iconomoduloE.png" class="imagen-submenu img-responsive">
                </a>
                <br />
                <a role="button" class="btn color-fondo-cebolla enlace-modulo-e" href="http://172.16.11.56:8094"
                   style="padding:0 20px; border-radius:20px; color:white;">CebollAPP</a>
            </div>
        </div>

        <div class="col-md-4" style="padding-bottom:20px; text-align: center;">
        </div>
    </div>
    
    <div id="informacion-submenu" class="row col-md-8 col-md-offset-2" style="height:200px; text-align:justify; padding-top:30px;"></div>

</div>

<!--Logos-->
<div class="row hidden-xs" style="background-color:white; padding: 5px 0 15px 0; height:100px; margin-top:450px; align-content:center;">
    <!--<div class="col-md-3 col-sm-3 cuadro-logo">
        <img class="imagen-logo" src="~/Content/imagenes/Logos/slogan_pais.png" />
    </div>-->
    <div class="col-md-4 col-sm-4 cuadro-logo">
        <img class="imagen-logo" src="~/Content/imagenes/Logos/fondo_adaptacion.png" />
    </div>
    <div class="col-md-4 col-sm-4 cuadro-logo">
        <img class="imagen-logo" src="~/Content/imagenes/Logos/LogoMADR.png" />
    </div>
    <div class="col-md-4 col-sm-4 cuadro-logo">
        <img class="imagen-logo" src="~/Content/imagenes/Logos/logo-agrosavia.png" />
    </div>
</div>

<script>
    $('.enlace-modulo-a').mouseover(function () {
        $("#informacion-submenu").text("Este módulo busca fortalecer a los asistentes técnicos mediante el acceso a información de los resultados más importantes del proyecto MAPA, como lo son la caracterización y análisis de la variabilidad climática para precipitación y temperatura a escala departamental; la identificación de zonas de aptitud agroclimática para cultivos priorizados por el Fondo Adaptación y las gobernaciones a escala municipal, y una serie de opciones tecnológicas seleccionadas para ser implementadas en los cultivos con el fin de mejorar la capacidad adaptativa frente a condiciones restrictivas por exceso o déficit de humedad del suelo.");
    }).mouseout(function () {
        $("#informacion-submenu").text("");
    });
    $('.enlace-modulo-b').mouseover(function () {
        $("#informacion-submenu").text("Este módulo permite de manera pedagógica estimar las tendencias de agua - rendimiento en cultivos como: tomate, papa, plátano, maíz y frijol.  El usuario tiene la oportunidad de trabajar con series climáticas (precipitación, temperatura máxima y mínima a escala diaria) y de suelos (capacidad de campo, punto de marchitez permanente y densidad aparente) propias, o aprovechar la información contenida en el módulo de 358 estaciones meteorológicas repartidas a lo largo del país, y tres tipos de suelo clasificados de acuerdo a la clase textural (arcilloso, limo y arenoso).  El modelo está basado en los documentos FAO No. 33 “Efectos del agua sobre el rendimiento de los cultivos” y FAO N° 56 “Evapotranspiración del cultivo: Guías para la determinación de los requerimientos de agua de los cultivos”");
    }).mouseout(function () {
        $("#informacion-submenu").text("");
    });
    $('.enlace-modulo-c').mouseover(function () {
        $("#informacion-submenu").text("Este módulo se concibe como un catálogo de términos que son utilizados o se han desarrollado bajo el enfoque metodológico del proyecto MAPA.  Cada palabra está acompañada de una definición breve, una definición amplia, una fuente y una información de apoyo. Los términos contenidos permiten la ampliación de los conceptos y relaciones, brindando al usuario claridad sobre la información, lo que hace que contribuya al entendimiento y apropiación teórica y técnica del enfoque temático del proyecto.");
    }).mouseout(function () {
        $("#informacion-submenu").text("");
    });
    $('.enlace-modulo-d').mouseover(function () {
        $("#informacion-submenu").text("El Sistema de Información Agroclimática del cultivo de la Papa - SIAP, se concibe como una herramienta para la toma de decisiones por parte de los diferentes actores de la cadena productiva. El SIAP permite la interpretación de la información climática y meteorológica para algunas zonas productoras en Cundinamarca y el monitoreo y generación de alertas de estrés hídrico por déficit en el cultivo. El desarrollo está bajo un enfoque de co-diseño, que identificó las principales necesidades de información para productores agrícolas relacionadas con el manejo del riesgo agroclimático del cultivo.");
    }).mouseout(function () {
        $("#informacion-submenu").text("");
    });
    $('.enlace-modulo-e').mouseover(function () {
        $("#informacion-submenu").text("El módulo para el sistema productivo de cebolla de bulbo para la provincia de Ocaña (cebolla ocañera), tiene como propósito la difusión de los indicadores de calidad de suelo, agua y oferta ambiental, así como el seguimiento meteorológico en tiempo cuasi-real para el monitoreo de condiciones hídricas del cultivo.  En tal sentido, incorporará la conexión con una estación meteorológica automática emplazada en el corregimiento de La Ermita, Municipio de Ocaña; con ello se pretende orientar la toma de decisiones de los productores en la gestión y manejo del recurso hídrico.");
    }).mouseout(function () {
        $("#informacion-submenu").text("");
    });
</script>