@model SistemaExperto.Models.Termino
@{
    ViewBag.Title = "DefinicionAmplia";
}

<h2>Definición Amplia</h2>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">
    <h1> @Model.NombreTermino</h1>
    @Html.Raw(Model.DefinicionAmplia)

</div>