@model IEnumerable<SistemaExperto.Models.Parametros>

@{
    ViewBag.Title = "Index";
}
<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Scripts -->
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bootstrap-3.2.js"></script>
@*<script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>*@
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">General</a></li>
    <li class="active">Otros parámetros</li>
</ol>

<!-- Contenido -->
<div class="rowcol-md-10 col-md-offset-1 contenido">

    <!-- Información -->
    <div class="col-md-3 well">


        <!-- Botón crear -->
        <div class="text-center">
            <a class="btn btn-default" href="~/Parametros/Crear" role="button"><span class="glyphicon glyphicon-plus-sign"></span> Crear nuevo parámetro</a>
        </div>

        <p></p>

        <img class="img-responsive thumbnail" src="~/Content/Imagenes/clima_cultivos.png" />
        <p>Lista de los parametros</p>
    </div>

    <div class="col-md-9">

        <!-- Tabla -->
        <table class="table" id="tabla_index">
            <!--Encabezado-->
            <thead>
                <tr>
                    <th class="none">
                       ParametroId
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                  
                    <th></th>
                </tr>
               
            </thead>

            <!--Contenido-->
            <tbody>
           
            </tbody>
        </table>
    </div>
</div>
<!-- Script de tabla -->
<script>
    $(document).ready(function () {
        var raiz = '@(HttpContext.Current.Request.ApplicationPath)';
        if (raiz.length == 1) {
            raiz = "";
        }
        $('#tabla_index').dataTable({
            "pagingType": "full", "bServerSide": true,
            "sAjaxSource": raiz + "/Parametros/AjaxHandler",
            "bProcessing": true,
            "order": [[1, "desc"]],
            "bJQueryUI": false,
            "iDisplayLength": 20,
            "bLengthChange": false,
            "oLanguage": {
                "sEmptyTable": "No hay datos registrados para la estación",
                "sProcessing": "Cargando registros...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sPrevious": "Anterior",
                    "sNext": "Siguiente",
                    "sLast": "Último"
                },
                "sLoadingRecords": "Cargando...",
                "sInfoEmpty": "0 registros",
                "sInfo": "Mostrando _END_ registro(s) de un total de _TOTAL_",
                "sSearch": "Buscar:",
                "sLengthMenu": "_MENU_ estaciones por página",
                "sInfoFiltered": "(filtrado de _MAX_ registros)"
            },

            "aoColumns": [
                   {
                       "mData": "ParametrosId",
                       "bSearchable": false,
                       "bSortable": false,
                       "bVisible": false

                   },
                    { "mData": "Codigo" },
                    { "mData": "Nombre" },
                 
                    {
                        "mData": function (source, type, val) { return '<div class="btn-group" role="group" ><a href="../Parametros/Editar/' + source.ParametrosId + '" title="Editar" class="btn btn-default"><i class="icon-edit"></i></a>  <a href="../Parametros/Detalles/' + source.ParametrosId + '"title="Detalles" class="btn btn-default">  <i class="icon-dotlist"></i></a>  <a href="../Parametros/Eliminar/' + source.ParametrosId + '" title="Eliminar" class="btn btn-default"> <i class="icon-circledelete"></i> </a> </div>'; },
                    }
            ]
    });
    });
</script>
<!-- Script de globo de ayuda -->
<script>
    $('[data-toggle="tooltip"]').tooltip({
        'placement': 'top'
    });
</script>
