/*body {
position: relative;
}
.navbar-default .navbar-nav > li > a {
    padding: 5px 10px 5%;
    color: #0D587E;
    margin-left: 5%;
    float:left;
    font-size: 30px;
}
.navbar-default .navbar-collapse {
    padding-left: 55px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 24px;
  color: white;
}*/

.navbar-default .navbar-nav > li > a:hover { 
  color: #89C642;
  /*background-color: white;*/
    }
.navbar-default .navbar-nav > li > a:focus { /*elemento seleccionado ok*/
  /*color: #5FBB48;*/
  color: green;
    }

.navbar-default .navbar-nav > .active > a:focus { /*elemento activo?*/
  color: #89C642;
    }
.navbar-default .navbar-nav > .active > a{ color: #5FBB48;}
/*.navbar-default .navbar-nav .active > a { /*elemento activo?*/
  /*color: yellow;
    }*/
.titulo_paso, .titulo_resultado {
    color: #0D587E;
    padding: 5px 5%;
    font-weight:bolder;
    /*margin-top: 10px;
    margin-left: 5%;
    float:left;*/
}
.jumbotron {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-image: url("/Content/imagenes/Girasol.png");
    /*background-position: 0% -44.1px;*/
    background-repeat: no-repeat;
    background-position: center;
}
.jumbotron .titulo_jumbotron {
    font-weight:bold;
    margin-top: 5px;
    margin-bottom: 5px;
    }
.subtitulo_explica .section-header {
font-size: 18px;
line-height: 1.2;
float:left;
font-weight:bold;
}
.textoDetalle{
font-size: 14px;
line-height: 1.2;
float: left;
font-weight: normal;
color: #333;
}
.subtitulo_explica{
    color: #0D587E;
    /*float:left;*/
    padding-bottom: 50px;
    /*width: 100%;*/
}
.subtitulo_explica .list-unstyled {
    float: left;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding-bottom: 5%;
    padding-top: 25px;*/
}
.subtitulo_explica .col-md-4 {
        font-size: 12px;
        color: #333;
    }
/*a.scrollup {
    height: 32px;
    width: 32px;
    color: #FFF;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    opacity: 0.5;
}*/
/*.breadcrumb {
    padding: 5px 5px;
    margin-bottom: 0px;
    font-size: 17px;
    background-color:#777;
    color:white; 
}*/
/*.container { width:100%;
             height:100%;
}*/

.CalendarioAlertas{
    font-size:12px;

}
.CalendarioAlertas .ui-widget-header{
    background:#FDCD16;
    color:black;
}

.CalendarioAlertas .ui-widget-content .ui-state-highlight{
    background:#0D587E;
    color:white;
}
.CalendarioAlertas .ui-widget-content {
    border:none;
}
/* Espacios : Tambien està en CSS se.css
-------------------------------------------------- */
.espacio5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.espacio10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.espacio15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.espacio20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.RadioButton_Estados{
    font-size:14px;
    color:black;
    background:#EFF;
    padding:10px;
    /*height: 120px;*/
}
.RadioButton_Estados .glyphicon{
    padding-left:10%;
    font-weight:bold;
}
/* barra navegacion vertical
-------------------------------------------------- */
.barra_vertical .nav   { 
  
  background-color: white;
    text-decoration: inherit;
    opacity: 0.9;
    border-color:blue;
    border-top: solid 1px #039;
    text-align: center;
    }
.barra_vertical .nav >li >a{
     color: white;
     font-weight: bold;
     /*background-color:#0D587E*/
     background-color:#89C642;
}
.barra_vertical .nav >li >a:focus{
      /*background-color: #5FBB48;*/
      background-color: #387F2E;
}
.barra_vertical .nav >li >a:hover{
background-color: #89C642;
color:black;    
}
.barra_vertical .nav >.active >a{
    /*background-color: #5FBB48;*/  
    background-color: #387F2E;
    color:black; 
}
.barra_vertical .nav.divider{
    color: white;
}
 /*.barra_vertical{
      padding: 10px;
 }*/

 /* barra navegacion vertical
-------------------------------------------------- */
.navbar .barra_vertical_OpcTec .nav   { 
  
  background-color: white;
    text-decoration: inherit;
    opacity: 0.7;
    border-color:blue;
    border-top: solid 1px #039;
    text-align: center;
    font-size:12px;
    padding: 10px 5px;
    }
.navbar .barra_vertical_OpcTec .nav >li >a{
     color: white;
     font-weight: bold;
     background-color:#0D587E;
    padding: 6px;
}
.barra_vertical_OpcTec .nav >li >a:focus{
      background-color: #5FBB48;
}
.barra_vertical_OpcTec .nav >li >a:hover{
background-color: #89C642;
color:black;    
}
.navbar .barra_vertical_OpcTec .nav >.active >a{
    background-color: #5FBB48;  
    color:black; 
}
.barra_vertical_OpcTec .nav.divider{
    color: white;
}
.navbar .barra_vertical_OpcTec{
      /*padding-top: 10px;*/
      font-size:12px;
      padding: 1px 1px;
 }
/*modificado 24 sep:*/
/*ya existe en se.css para tener presente, solo se agrega propiedad de fuente*/
input,
select,
textarea {
    max-width: 350px;
    font-size:14px;
}
/*ya existe en se.css para tener presente*/
button, input, optgroup, select, textarea {
    color: black;
}
.texto_resultado_req{
    font-size:30px;
    border-color:none;
    /*padding: 4px;*/
}
.texto_resultado_req .well{
    padding: 4px;
}
.texto_estadoFen, .texto_estadoFen .well, .texto_estadoFen .well-sm{
    font-size:14px;
    border-color:white;
    background-color:white;
    color:black;
    /*padding: 4px;*/
}
.texto_iconos, .texto_iconos .well, .texto_iconos .well-sm{
    font-size:10px;
    color:black;
    background-color:white;
    border-color:white;
}
.texto_siembra{
    font-size:12px;
    color:black;
    font-weight:bold;
}