---script que actualiza a '' la ruta del pdf a mostrar en los planes de manejo(Municipio) que no se encuentran fisicamente
--para que no se muestre el boton respectivo de descarga.
update [SEMapa].[dbo].[CultivoMunicipio] set RutaPracticaManejo =''
  where RutaPracticaManejo not in('../Content/Adjuntos/Planes/pm_m11_c8.pdf'	,
'../Content/Adjuntos/Planes/pm_m12_c4.pdf'	,
'../Content/Adjuntos/Planes/pm_m13_c5.pdf'	,
'../Content/Adjuntos/Planes/pm_m14_c20.pdf'	,
'../Content/Adjuntos/Planes/pm_m17_c6.pdf'	,
'../Content/Adjuntos/Planes/pm_m18_c14.pdf'	,
'../Content/Adjuntos/Planes/pm_m19_c7.pdf'	,
'../Content/Adjuntos/Planes/pm_m1_c1.pdf'	,
'../Content/Adjuntos/Planes/pm_m20_c9.pdf'	,
'../Content/Adjuntos/Planes/pm_m21_c17.pdf'	,
'../Content/Adjuntos/Planes/pm_m22_c30.pdf'	,
'../Content/Adjuntos/Planes/pm_m23_c18.pdf'	,
'../Content/Adjuntos/Planes/pm_m24_c15.pdf'	,
'../Content/Adjuntos/Planes/pm_m25_c16.pdf'	,
'../Content/Adjuntos/Planes/pm_m26_c20.pdf'	,
'../Content/Adjuntos/Planes/pm_m27_c14.pdf'	,
'../Content/Adjuntos/Planes/pm_m28_c29.pdf'	,
'../Content/Adjuntos/Planes/pm_m29_c9.pdf'	,
'../Content/Adjuntos/Planes/pm_m2_c2.pdf'	,
'../Content/Adjuntos/Planes/pm_m30_c17.pdf'	,
'../Content/Adjuntos/Planes/pm_m31_c18.pdf'	,
'../Content/Adjuntos/Planes/pm_m32_c20.pdf'	,
'../Content/Adjuntos/Planes/pm_m33_c10.pdf'	,
'../Content/Adjuntos/Planes/pm_m34_c24.pdf'	,
'../Content/Adjuntos/Planes/pm_m35_c20.pdf'	,
'../Content/Adjuntos/Planes/pm_m36_c26.pdf'	,
'../Content/Adjuntos/Planes/pm_m37_c27.pdf'	,
'../Content/Adjuntos/Planes/pm_m38_c28.pdf'	,
'../Content/Adjuntos/Planes/pm_m39_c23.pdf'	,
'../Content/Adjuntos/Planes/pm_m40_c28.pdf'	,
'../Content/Adjuntos/Planes/pm_m41_c22.pdf'	,
'../Content/Adjuntos/Planes/pm_m44_c28.pdf'	,
'../Content/Adjuntos/Planes/pm_m45_c12.pdf'	,
'../Content/Adjuntos/Planes/pm_m46_c13.pdf'	,
'../Content/Adjuntos/Planes/pm_m47_c33.pdf'	,
'../Content/Adjuntos/Planes/pm_m48_c30.pdf'	,
'../Content/Adjuntos/Planes/pm_m49_c25.pdf'	,
'../Content/Adjuntos/Planes/pm_m50_c11.pdf'	,
'../Content/Adjuntos/Planes/pm_m51_c19.pdf'	,
'../Content/Adjuntos/Planes/pm_m52_c20.pdf'	,
'../Content/Adjuntos/Planes/pm_m53_c11.pdf'	,
'../Content/Adjuntos/Planes/pm_m54_c16.pdf'	,
'../Content/Adjuntos/Planes/pm_m55_c25.pdf'	,
'../Content/Adjuntos/Planes/pm_m56_c28.pdf'	,
'../Content/Adjuntos/Planes/pm_m57_c17.pdf'	,
'../Content/Adjuntos/Planes/pm_m58_c18.pdf'	,
'../Content/Adjuntos/Planes/pm_m59_c20.pdf'	,
'../Content/Adjuntos/Planes/pm_m5_c20.pdf'	,
'../Content/Adjuntos/Planes/pm_m60_c31.pdf'	,
'../Content/Adjuntos/Planes/pm_m61_c23.pdf'	,
'../Content/Adjuntos/Planes/pm_m62_c11.pdf'	,
'../Content/Adjuntos/Planes/pm_m63_c18.pdf'	,
'../Content/Adjuntos/Planes/pm_m63_c21.pdf'	,
'../Content/Adjuntos/Planes/pm_m8_c10.pdf'	
)
go
update [SEMapa].[dbo].[CultivoMunicipio] set CultivoId = 28 , RutaPracticaManejo='../Content/Adjuntos/Planes/pm_m40_c28.pdf' where MunicipioId=40
update [SEMapa].[dbo].[CultivoMunicipio] set CultivoId = 28 , RutaPracticaManejo='../Content/Adjuntos/Planes/pm_m44_c28.pdf' where MunicipioId=44
update [SEMapa].[dbo].[CultivoMunicipio] set CultivoId = 28 , RutaPracticaManejo='../Content/Adjuntos/Planes/pm_m56_c28.pdf' where MunicipioId=56
update [SEMapa].[dbo].[CultivoMunicipio] set CultivoId = 23 , RutaPracticaManejo='../Content/Adjuntos/Planes/pm_m61_c23.pdf' where MunicipioId=61
update [SEMapa].[dbo].[CultivoMunicipio] set RutaPracticaManejo='../Content/Adjuntos/Planes/pm_m64_c21.pdf' where MunicipioId=64
go