update [SEMapa].[dbo].EtapaGrupo set RutaIcono = '../Content/imagenes/Etapas/SinEtapaCiclo.png'
where GrupoCultivoId = 4 and CultivoEtapaId = 14

update [SEMapa].[dbo].EtapaGrupo set RutaIcono = '../Content/imagenes/Etapas/SinEtapaCiclo.png'
where GrupoCultivoId = 4 and CultivoEtapaId = 4