SET IDENTITY_INSERT SE.[dbo].[Usuario] ON
INSERT INTO SE.[dbo].[Usuario](UsuarioId,Nombre,NumeroIdentificacion,Clave,ConfirmarClave,Correo,Administrador,Activo) VALUES(1,'Edwin',123456,'ALa5qJEvZx0U+19iz3O8+zyKds/Sd7lGgxMOM7Tz3CRKsCAMYoD42yBGJoBaxnhYuw==','ALa5qJEvZx0U+19iz3O8+zyKds/Sd7lGgxMOM7Tz3CRKsCAMYoD42yBGJoBaxnhYuw==','erojas@corpoica.org.co',0,1)
INSERT INTO SE.[dbo].[Usuario](UsuarioId,Nombre,NumeroIdentificacion,Clave,ConfirmarClave,Correo,Administrador,Activo) VALUES(2,'Diego',123456,'ALa5qJEvZx0U+19iz3O8+zyKds/Sd7lGgxMOM7Tz3CRKsCAMYoD42yBGJoBaxnhYuw==','ALa5qJEvZx0U+19iz3O8+zyKds/Sd7lGgxMOM7Tz3CRKsCAMYoD42yBGJoBaxnhYuw==','dfalzate@corpoica.org.co',0,1)
INSERT INTO SE.[dbo].[Usuario](UsuarioId,Nombre,NumeroIdentificacion,Clave,ConfirmarClave,Correo,Administrador,Activo) VALUES(3,'Fabio',123456,'ALa5qJEvZx0U+19iz3O8+zyKds/Sd7lGgxMOM7Tz3CRKsCAMYoD42yBGJoBaxnhYuw==','ALa5qJEvZx0U+19iz3O8+zyKds/Sd7lGgxMOM7Tz3CRKsCAMYoD42yBGJoBaxnhYuw==','femartinez@corpoica.org.co',0,1)
INSERT INTO [SE].[dbo].[Usuario](UsuarioId, Nombre, NumeroIdentificacion, Clave, ConfirmarClave, Correo, Administrador, Activo) VALUES (15,'Ena Rodriguez',123456,'ALzFYFTZBwVN+7UvBXVJsa3cAe3CszyJtPwOigPLlqDQNV7dFm0AnVKgvKvdIs0VuA==','ALzFYFTZBwVN+7UvBXVJsa3cAe3CszyJtPwOigPLlqDQNV7dFm0AnVKgvKvdIs0VuA==', 'ecrodriguez@corpoica.org.co',0,1)
SET IDENTITY_INSERT SE.[dbo].[Usuario] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[Departamento] ON
INSERT INTO [SE].[dbo].[Departamento] ([DepartamentoId], [CodigoDane], [Nombre]) VALUES (1,'08', 'Atlántico')
INSERT INTO [SE].[dbo].[Departamento] ([DepartamentoId], [CodigoDane], [Nombre]) VALUES (2,'54', 'Norte de Santander')
INSERT INTO [SE].[dbo].[Departamento] ([DepartamentoId], [CodigoDane], [Nombre]) VALUES (3,'13', 'Bolívar')
SET IDENTITY_INSERT [SE].[dbo].[Departamento] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[Municipio] ON
INSERT INTO [SE].[dbo].[Municipio] ([MunicipioId], [CodigoDane], [Box], [Nombre], [Descripcion], [RutaImagen], [DepartamentoId]) VALUES (1, '08606', '-8375607.237959557,1164001.4406208904,-8351438.725088336,1187720.6227150431', 'Repelón', NULL, '/Content/Imagenes/municipio-repelon.png', 1)
INSERT INTO [SE].[dbo].[Municipio] ([MunicipioId], [CodigoDane], [Box], [Nombre], [Descripcion], [RutaImagen], [DepartamentoId]) VALUES (2, '08770', '-8375607.237959557,1164001.4406208904,-8351438.725088336,1187720.6227150431', 'Suán', NULL, '/Content/Imagenes/municipio-repelon.png', 1)
INSERT INTO [SE].[dbo].[Municipio] ([MunicipioId], [CodigoDane], [Box], [Nombre], [Descripcion], [RutaImagen], [DepartamentoId]) VALUES (3, '08436', '-8375607.237959557,1164001.4406208904,-8351438.725088336,1187720.6227150431', 'Manatí', NULL, '/Content/Imagenes/municipio-repelon.png', 1)

SET IDENTITY_INSERT [SE].[dbo].[Municipio] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[EstacionTipo] ON
INSERT INTO [SE].[dbo].[EstacionTipo] ([EstacionTipoId], [Tipo], [Radio]) VALUES (1, 'Montaña', 4)
INSERT INTO [SE].[dbo].[EstacionTipo] ([EstacionTipoId], [Tipo], [Radio]) VALUES (2, 'Valle', 6)
SET IDENTITY_INSERT [SE].[dbo].[EstacionTipo] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[Cultivo] ON
INSERT INTO [SE].[dbo].[Cultivo] ([CultivoId], [Nombre], [Descripcion], [TiempoInicial], [TiempoDesarrollo], [TiempoMedia], [TiempoFinal], [KInicial], [KMedia], [KFinal], [ACInicial], [ACMedia], [ACFinal], [ZrMin], [ZrMax], [JMin], [JMax], [RutaIcono], [RutaImagen], [CultivoTipoId]) VALUES (1, 'Tomate', NULL, 20, 30, 60, 20, 0.5, 0.85, 0.65, 0.25, 0.25, 0.4, 0.17, 0.5, 1, 50, NULL, '/Content/Imagenes/cultivo-tomate_', 0)
INSERT INTO [SE].[dbo].[Cultivo] ([CultivoId], [Nombre], [Descripcion], [TiempoInicial], [TiempoDesarrollo], [TiempoMedia], [TiempoFinal], [KInicial], [KMedia], [KFinal], [ACInicial], [ACMedia], [ACFinal], [ZrMin], [ZrMax], [JMin], [JMax], [RutaIcono], [RutaImagen], [CultivoTipoId]) VALUES (2, 'Aji', NULL, 27, 105, 126, 21, 0.3, 1, 0.85, 0.3, 0.3, 0.4, 25, 70, 0, 27, NULL, '/Content/Imagenes/cultivo-tomate_', 0)
INSERT INTO [SE].[dbo].[Cultivo] ([CultivoId], [Nombre], [Descripcion], [TiempoInicial], [TiempoDesarrollo], [TiempoMedia], [TiempoFinal], [KInicial], [KMedia], [KFinal], [ACInicial], [ACMedia], [ACFinal], [ZrMin], [ZrMax], [JMin], [JMax], [RutaIcono], [RutaImagen], [CultivoTipoId]) VALUES (3, 'Pastura', NULL, 20, 30, 60, 20, 0.5, 0.85, 0.65, 0.25, 0.25, 0.4, 0.17, 0.5, 1, 50, NULL, '/Content/Imagenes/cultivo-tomate_', 0)
SET IDENTITY_INSERT [SE].[dbo].[Cultivo] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[CultivoCiclo] ON
INSERT INTO [SE].[dbo].[CultivoCiclo] ([CultivoCicloId], [Nombre], [CultivoId], [MunicipioId]) VALUES (1, 'Ciclo de cultivo 1', 1, 1)
INSERT INTO [SE].[dbo].[CultivoCiclo] ([CultivoCicloId], [Nombre], [CultivoId], [MunicipioId]) VALUES (2, 'Ciclo de cultivo 2', 1, 1)
INSERT INTO [SE].[dbo].[CultivoCiclo] ([CultivoCicloId], [Nombre], [CultivoId], [MunicipioId]) VALUES (3, 'Ciclo de cultivo 1', 2, 2)
SET IDENTITY_INSERT [SE].[dbo].[CultivoCiclo] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[CultivoEtapa] ON
INSERT INTO [SE].[dbo].[CultivoEtapa] ([CultivoEtapaId], [Nombre], [Orden], [Clase], [RutaIcono]) VALUES (1, 'Transplante', 1, 'escenario-azul', '/Content/imagenes/Etapas/EtapaCiclo1.png')
INSERT INTO [SE].[dbo].[CultivoEtapa] ([CultivoEtapaId], [Nombre], [Orden], [Clase], [RutaIcono]) VALUES (2, 'Floración', 2, 'escenario-verde', '/Content/imagenes/Etapas/EtapaCiclo2.png')
INSERT INTO [SE].[dbo].[CultivoEtapa] ([CultivoEtapaId], [Nombre], [Orden], [Clase], [RutaIcono]) VALUES (3, 'Fructificación', 3, 'escenario-naranja', '/Content/imagenes/Etapas/EtapaCiclo3.png')
SET IDENTITY_INSERT [SE].[dbo].[CultivoEtapa] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[CultivoTipoEtapa] ON
INSERT INTO [SE].[dbo].[CultivoTipoEtapa] ([CultivoTipoEtapaId], [Duracion], [MesInicio], [CultivoCicloId], [CultivoEtapaId]) VALUES (1, 1, 10, 1, 1)
INSERT INTO [SE].[dbo].[CultivoTipoEtapa] ([CultivoTipoEtapaId], [Duracion], [MesInicio], [CultivoCicloId], [CultivoEtapaId]) VALUES (2, 2, 11, 1, 2)
INSERT INTO [SE].[dbo].[CultivoTipoEtapa] ([CultivoTipoEtapaId], [Duracion], [MesInicio], [CultivoCicloId], [CultivoEtapaId]) VALUES (3, 2, 12, 1, 3)
SET IDENTITY_INSERT [SE].[dbo].[CultivoTipoEtapa] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[Estacion] ON
INSERT INTO [SE].[dbo].[Estacion] ([EstacionId], [Nombre], [CodigoIdeam], [Latitud], [Longitud], [Altitud], [RutaImagen], [EstacionTipoId]) VALUES (1, 'Campo de la Cruz', '2904025', 10.500276, -75.119167, 4, '/Content/archivos/1/estacionIATLNTIC3.png', 2)
INSERT INTO [SE].[dbo].[Estacion] ([EstacionId], [Nombre], [CodigoIdeam], [Latitud], [Longitud], [Altitud], [RutaImagen], [EstacionTipoId]) VALUES (2, 'Rabon El Hda', '2904027', 10.500276, -75.119167, 4, '/Content/archivos/1/estacionIATLNTIC3.png', 2)
INSERT INTO [SE].[dbo].[Estacion] ([EstacionId], [Nombre], [CodigoIdeam], [Latitud], [Longitud], [Altitud], [RutaImagen], [EstacionTipoId]) VALUES (3, 'San Pedrito Alerta', '2904031', 10.500276, -75.119167, 8, '/Content/archivos/1/estacionIATLNTIC3.png', 2)
SET IDENTITY_INSERT [SE].[dbo].[Estacion] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[EstacionTipoConstante] ON
INSERT INTO [SE].[dbo].[EstacionTipoConstante] ([EstacionTipoConstanteId], [Nombre], [Etiqueta]) VALUES (1, 'A', 'A')
INSERT INTO [SE].[dbo].[EstacionTipoConstante] ([EstacionTipoConstanteId], [Nombre], [Etiqueta]) VALUES (2, 'Alfa', 'α')
INSERT INTO [SE].[dbo].[EstacionTipoConstante] ([EstacionTipoConstanteId], [Nombre], [Etiqueta]) VALUES (3, 'Beta', 'β')
SET IDENTITY_INSERT [SE].[dbo].[EstacionTipoConstante] OFF

SET IDENTITY_INSERT [SE].[dbo].[EstacionValores] ON
INSERT INTO [SE].[dbo].[EstacionValores] ([EstacionValoresId], [Anio],[EstacionTipoConstanteId],[Enero], [Febrero], [Marzo], [Abril], [Mayo], [Junio], [Julio], [Agosto], [Septiembre], [Octubre], [Noviembre], [Diciembre]) VALUES (1, 2014,1, 1.184156, 0.6448359, 0.6790888, 0.3065858, 0.1223933, 0.1656776, 0.3412817, 0.1053115, 0.06662641, 0.1385444, 0.2750849, 0.6474367)
INSERT INTO [SE].[dbo].[EstacionValores] ([EstacionValoresId], [Anio],[EstacionTipoConstanteId],[Enero], [Febrero], [Marzo], [Abril], [Mayo], [Junio], [Julio], [Agosto], [Septiembre], [Octubre], [Noviembre], [Diciembre]) VALUES (2, 2014,2,0.5501571, 0.9164106, 0.8763143, 1.783286, 4.245563, 3.176268, 1.616151, 4.909015, 7.667653, 3.768559, 1.971295, 0.9132201)
INSERT INTO [SE].[dbo].[EstacionValores] ([EstacionValoresId], [Anio],[EstacionTipoConstanteId],[Enero], [Febrero], [Marzo], [Abril], [Mayo], [Junio], [Julio], [Agosto], [Septiembre], [Octubre], [Noviembre], [Diciembre]) VALUES (3, 2014,3,21.0719, 18.75329, 24.74086, 28.7864, 29.35418, 33.11375, 50.53093, 22.12129, 13.67188, 42.13729, 54.65635, 32.14846)
SET IDENTITY_INSERT [SE].[dbo].[EstacionValores] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[EstacionConstantes] ON

INSERT INTO [SE].[dbo].[EstacionConstantes] ([EstacionConstantesId], [EstacionId], [EstacionValoresId]) VALUES (1, 17,  1)
INSERT INTO [SE].[dbo].[EstacionConstantes] ([EstacionConstantesId], [EstacionId], [EstacionValoresId]) VALUES (2, 17,  2)
INSERT INTO [SE].[dbo].[EstacionConstantes] ([EstacionConstantesId], [EstacionId], [EstacionValoresId]) VALUES (3, 17,  3)
--
SET IDENTITY_INSERT [SE].[dbo].[EstacionConstantes] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[VariablesHistoricas] ON
INSERT INTO [SE].[dbo].[VariablesHistoricas] ([VariablesHistoricasId], [Z], [PX1], [PX2], [PX3], [X], [Ze], [Uw], [Ud]) VALUES (1, NULL, '0;0;0;0;0;0;0;0;0;0', '0;0;0;0;0;0;0;0;0;0', '0;0;0;0;0;0;0;0;0;0', '0;0;0;0;0;0;0;0;0;0', '0;0;0;0;0;0;0;0;0;0', '0;0;0;0;0;0;0;0;0;0', '0;0;0;0;0;0;0;0;0;0')
SET IDENTITY_INSERT [SE].[dbo].[VariablesHistoricas] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[Zona] ON
INSERT INTO [SE].[dbo].[Zona] ([ZonaId], [Nombre], [MunicipioId], [CultivoId], [Latitud], [Longitud], [TasaMax], [CC], [PMP]) VALUES (1, 'Tomate', 1, 1, 10.461917, -75.151528, 40, 0.4, 0.12)
INSERT INTO [SE].[dbo].[Zona] ([ZonaId], [Nombre], [MunicipioId], [CultivoId], [Latitud], [Longitud], [TasaMax], [CC], [PMP]) VALUES (2, 'Ají', 2, 2, 10.32755, -74.88938, 40, 0.53, 0.35)
INSERT INTO [SE].[dbo].[Zona] ([ZonaId], [Nombre], [MunicipioId], [CultivoId], [Latitud], [Longitud], [TasaMax], [CC], [PMP]) VALUES (3, 'Pastos 1', 5, 3, 10.4915, -74.874167, 40, 0.53, 0.35)
SET IDENTITY_INSERT [SE].[dbo].[Zona] OFF

SET IDENTITY_INSERT [SE].[dbo].[ZonaMensual] ON
INSERT INTO [SE].[dbo].[ZonaMensual] ([ZonaMensualId], [ZonaId], [Fecha], [Ss0], [Su0]) VALUES (1, 3, Convert(DateTime,'2015-04-15',126), 0, 0)
INSERT INTO [SE].[dbo].[ZonaMensual] ([ZonaMensualId], [ZonaId], [Fecha], [Ss0], [Su0]) VALUES (2, 1, Convert(DateTime,'2015-04-15',126), 0, 0)
INSERT INTO [SE].[dbo].[ZonaMensual] ([ZonaMensualId], [ZonaId], [Fecha], [Ss0], [Su0]) VALUES (3, 2, Convert(DateTime,'2015-04-15',126), 0, 16.9855)
SET IDENTITY_INSERT [SE].[dbo].[ZonaMensual] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[CategoriaProbabilidad] ON
INSERT INTO [SE].[dbo].[CategoriaProbabilidad] ([CategoriaProbabilidadId], [Descripcion]) VALUES (1, 'Debajo de lo Normal')
INSERT INTO [SE].[dbo].[CategoriaProbabilidad] ([CategoriaProbabilidadId], [Descripcion]) VALUES (2, 'Sobre lo Normal')
INSERT INTO [SE].[dbo].[CategoriaProbabilidad] ([CategoriaProbabilidadId], [Descripcion]) VALUES (3, 'Dentro de lo Normal')
SET IDENTITY_INSERT [SE].[dbo].[CategoriaProbabilidad] OFF
GO


--SET IDENTITY_INSERT [SE].SE.[dbo].[EstacionMensual] ON
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (1, 17, Convert(DateTime,'2011-12-15',126), 21, 34, 0, 2.5, 132, 1, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (2, 17, Convert(DateTime,'2012-01-15',126), 22.284375, 33.734375, 0, 2.5, 141.854552651607, 1, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (3, 17, Convert(DateTime,'2012-02-15',126), 22.9875, 33.58755, 0, 2.5, 135.721165044803, 1, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (4, 17, Convert(DateTime,'2012-03-15',126), 23.540625, 33.203125, 21.6, 2.5, 145.257899216653, 1, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (5, 17, Convert(DateTime,'2012-04-15',126), 23.540625, 33.203125, 21.6, 2.5, 145.257899216653, 1, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (6, 17, Convert(DateTime,'2015-03-15',126), 23.540625, 33.203125, 21.6, 2.5, 145.257899216653, 1, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (7, 17, Convert(DateTime,'2015-04-15',126), 23.540625, 33.203125, 21.6, 2.5, 143.9057, -0.74494043221720307, 0, 0, 0, 0, 4)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (8, 1, Convert(DateTime,'2015-04-15',126), 21, 34, 0, 2.5, 132, 1, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (9, 2, Convert(DateTime,'2012-01-15',126), 22.284375, 33.734375, 0, 2.5, 141.854552651607, 0, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (10, 7, Convert(DateTime,'2015-04-15',126), 22.9875, 33.58755, 0, 2.5, 135.721165044803, 0, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (11, 2, Convert(DateTime,'2012-03-15',126), 23.540625, 33.203125, 21.6, 2.5, 145.257899216653, 0, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (12, 2, Convert(DateTime,'2012-04-15',126), 24.3, 32.525, 40, 2.5, 131.1202, 0, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (13, 2, Convert(DateTime,'2012-05-15',126), 24.303125, 31.8218745, 134.3, 2.5, 126.6231, 0, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (14, 2, Convert(DateTime,'2012-06-15',126), 24.246875, 32.071875, 94.3, 2.5, 124.1942, 0, 0, 0, 0, 0, 0)
--INSERT INTO [SE].SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [ETo], [SPI], [pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (15, 2, Convert(DateTime,'2012-07-15',126), 24, 32.2875, 110.3, 2.5, 132.9871, 0, 0, 0, 0, 0, 0)
--SET IDENTITY_INSERT [SE].SE.[dbo].[EstacionMensual] OFF
--GO

SET IDENTITY_INSERT SE.[dbo].[EstacionMensual] ON
INSERT INTO SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [TminReal], [TmaxReal], [PrecipitacionReal], [VientoReal], [ETo], [EToReal], [SPI], [SPIReal],[pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (1, 17, Convert(DateTime,'2011-12-15 ',126), 21, 34, 0, 2.5, 0, 0, 0, 0, 132, 0, 1, 0,  0, 0, 0, 0, 0)
INSERT INTO SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [TminReal], [TmaxReal], [PrecipitacionReal], [VientoReal], [ETo], [EToReal], [SPI], [SPIReal],[pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (2, 17, Convert(DateTime,'2012-01-15 ',126), 22.284375, 33.734375, 0, 2.5, 0, 0, 0, 0, 141.854552651607, 0, 1, 0, 0, 0, 0, 0, 0)
INSERT INTO SE.[dbo].[EstacionMensual] ([EstacionMensualId], [EstacionId], [Fecha], [Tmin], [Tmax], [Precipitacion], [Viento], [TminReal], [TmaxReal], [PrecipitacionReal], [VientoReal], [ETo], [EToReal], [SPI], [SPIReal],[pptDebajo], [pptDentro], [pptSobre], [ProbabilidadPpt], [CategoriaProbabilidadId]) VALUES (3, 17, Convert(DateTime,'2012-02-15',126), 22.9875, 33.58755, 0, 2.5, 0, 0, 0, 0, 135.721165044803, 0, 1, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT SE.[dbo].[EstacionMensual] OFF


SET IDENTITY_INSERT [SE].[dbo].[ZonaEstacion] ON
SET IDENTITY_INSERT [SE].[dbo].[ZonaEstacion] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[MunicipioEstacion] ON
INSERT INTO [SE].[dbo].[MunicipioEstacion] ([MunicipioEstacionId], [EstacionId], [MunicipioId]) VALUES (1, 6, 1)
INSERT INTO [SE].[dbo].[MunicipioEstacion] ([MunicipioEstacionId], [EstacionId], [MunicipioId]) VALUES (2, 11, 1)
INSERT INTO [SE].[dbo].[MunicipioEstacion] ([MunicipioEstacionId], [EstacionId], [MunicipioId]) VALUES (3, 12, 1)
SET IDENTITY_INSERT [SE].[dbo].[MunicipioEstacion] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[TipoPrediccion] ON
INSERT INTO [SE].[dbo].[TipoPrediccion] ([TipoPrediccionId], [Nombre], [Maximo], [Minimo]) VALUES (1, 'Húmedo', 5, 1)
INSERT INTO [SE].[dbo].[TipoPrediccion] ([TipoPrediccionId], [Nombre], [Maximo], [Minimo]) VALUES (2, 'Normal', 0.99, -0.99)
INSERT INTO [SE].[dbo].[TipoPrediccion] ([TipoPrediccionId], [Nombre], [Maximo], [Minimo]) VALUES (3, 'Seco', -1, -5)
SET IDENTITY_INSERT [SE].[dbo].[TipoPrediccion] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[AreaTematica] ON
INSERT INTO [SE].[dbo].[AreaTematica] ([AreaTematicaId], [Codigo], [Nombre]) VALUES (1, 11, 'Gestión del agua en la finca')
INSERT INTO [SE].[dbo].[AreaTematica] ([AreaTematicaId], [Codigo], [Nombre]) VALUES (2, 12, 'Sistema de riego eficiente')
INSERT INTO [SE].[dbo].[AreaTematica] ([AreaTematicaId], [Codigo], [Nombre]) VALUES (3, 13, 'Suministro de agua: aguas no convencionales')
SET IDENTITY_INSERT [SE].[dbo].[AreaTematica] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[OpcionTecnologica] ON
INSERT INTO [SE].[dbo].[OpcionTecnologica] ([OpcionTecnologicaId], [Nombre], [AreaTematicaId]) VALUES (1, 'Optimización del recurso hídrico: Riego por aspersión o riego por goteo', 1)
INSERT INTO [SE].[dbo].[OpcionTecnologica] ([OpcionTecnologicaId], [Nombre], [AreaTematicaId]) VALUES (2, 'Cosecha de agua: diseño de reservorios y captación de aguas.', 1)
INSERT INTO [SE].[dbo].[OpcionTecnologica] ([OpcionTecnologicaId], [Nombre], [AreaTematicaId]) VALUES (3, 'Manejo y conservación de suelos', 11)
SET IDENTITY_INSERT [SE].[dbo].[OpcionTecnologica] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[TipoOferta] ON
INSERT INTO [SE].[dbo].[TipoOferta] ([TipoOfertaId], [Nombre]) VALUES (1, 'Gestión del agua')
INSERT INTO [SE].[dbo].[TipoOferta] ([TipoOfertaId], [Nombre]) VALUES (2, 'Prácticas de manejo')
INSERT INTO [SE].[dbo].[TipoOferta] ([TipoOfertaId], [Nombre]) VALUES (3, 'Recursos genéticos')
SET IDENTITY_INSERT [SE].[dbo].[TipoOferta] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[ListaOpciones] ON
INSERT INTO [SE].[dbo].[ListaOpciones] ([ListaOpcionesId], [CultivoId], [MunicipioId], [TipoOfertaId], [TipoPrediccionId], [OpcionTecnologicaId], [EstadoDesarrolloCultivo], [IndicadorLocal]) VALUES (1, 1, 1, 2, 3, 6, 'Plantulación', 0)
INSERT INTO [SE].[dbo].[ListaOpciones] ([ListaOpcionesId], [CultivoId], [MunicipioId], [TipoOfertaId], [TipoPrediccionId], [OpcionTecnologicaId], [EstadoDesarrolloCultivo], [IndicadorLocal]) VALUES (2, 1, 1, 2, 1, 19, 'No aplica', 0)
INSERT INTO [SE].[dbo].[ListaOpciones] ([ListaOpcionesId], [CultivoId], [MunicipioId], [TipoOfertaId], [TipoPrediccionId], [OpcionTecnologicaId], [EstadoDesarrolloCultivo], [IndicadorLocal]) VALUES (3, 1, 1, 2, 1, 20, 'Crecimiento', 0)
SET IDENTITY_INSERT [SE].[dbo].[ListaOpciones] OFF
GO

	SET IDENTITY_INSERT se.[dbo].[FichaOpcion] ON
INSERT INTO se.[dbo].[FichaOpcion] ([FichaOpcionId], [Titulo], [Informacion], [ListaOpcionesId]) VALUES (2, 'Descripción de la Opción Tecnológica', 'Son mallas sombra que permiten reducir la luminosidad entre un 33 y 80%, dependiendo del tipo y necesidades del cultivo, permite regular la temperatura en viveros, invernaderos y cultivos, ofrece  protección antigranizo, contra vientos fuertes y son de fácil manejo y durabilidad. El porcentaje mencionado se refiere a la cantidad de irradiación solar que bloquea, por ejemplo la malla al 33% deja pasar el 67% y bloquea el 33% de rayos solares.', 2)
SET IDENTITY_INSERT se.[dbo].[FichaOpcion] OFF



SET IDENTITY_INSERT [SE].[dbo].[Efectos] ON
INSERT INTO [SE].[dbo].[Efectos] ([EfectoId], [Nombre]) VALUES (1, 'En la fase de semillero se presentaría una baja tasa de emergencia, debido a pudrición de la radícula y ausencia de oxígeno e el sustrato.')
INSERT INTO [SE].[dbo].[Efectos] ([EfectoId], [Nombre]) VALUES (2, 'Durante el trasplante se presentará una baja tasa de establecimiento debido al desarrollo de enfermedades radiculares.  ')
INSERT INTO [SE].[dbo].[Efectos] ([EfectoId], [Nombre]) VALUES (3, 'En la fase de floración se presentará un desfase en el inicio de la fase, baja formación de botones florales a causa del desarrollo de enfermedades fungosas y bacterianas.')
SET IDENTITY_INSERT [SE].[dbo].[Efectos] OFF

--SET IDENTITY_INSERT [SE].[dbo].[Ofertas] ON
--INSERT INTO [SE].[dbo].[Ofertas] ([OfertaId], [CultivoEtapaId], [TipoPrediccionId], [CultivoId], [EfectoId]) VALUES (1, 1, 1, 1, 1)
--INSERT INTO [SE].[dbo].[Ofertas] ([OfertaId], [CultivoEtapaId], [TipoPrediccionId], [CultivoId], [EfectoId]) VALUES (2, 2, 1, 1, 2)
--INSERT INTO [SE].[dbo].[Ofertas] ([OfertaId], [CultivoEtapaId], [TipoPrediccionId], [CultivoId], [EfectoId]) VALUES (3, 2, 1, 1, 3)
--INSERT INTO [SE].[dbo].[Ofertas] ([OfertaId], [CultivoEtapaId], [TipoPrediccionId], [CultivoId], [EfectoId]) VALUES (4, 1, 1, 1, 4)
--INSERT INTO [SE].[dbo].[Ofertas] ([OfertaId], [CultivoEtapaId], [TipoPrediccionId], [CultivoId], [EfectoId]) VALUES (5, 3, 3, 1, 5)
--INSERT INTO [SE].[dbo].[Ofertas] ([OfertaId], [CultivoEtapaId], [TipoPrediccionId], [CultivoId], [EfectoId]) VALUES (6, 3, 3, 1, 6)
--INSERT INTO [SE].[dbo].[Ofertas] ([OfertaId], [CultivoEtapaId], [TipoPrediccionId], [CultivoId], [EfectoId]) VALUES (7, 4, 3, 1, 7)
--INSERT INTO [SE].[dbo].[Ofertas] ([OfertaId], [CultivoEtapaId], [TipoPrediccionId], [CultivoId], [EfectoId]) VALUES (8, 4, 3, 1, 8)
--SET IDENTITY_INSERT [SE].[dbo].[Ofertas] OFF
--GO

SET IDENTITY_INSERT [SE].[dbo].[Opciones] ON
INSERT INTO [SE].[dbo].[Opciones] ([OpcionId], [Nombre], [Resumen], [Explicacion], [InformacionAdicional]) VALUES (3, 'Densidad de siembra', NULL, NULL, NULL)
SET IDENTITY_INSERT [SE].[dbo].[Opciones] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[Capas] ON
INSERT INTO [SE].[dbo].[Capas] ([CapaId], [NombreCaracterizacion], [IdentificadorCaracterizacion], [Concepto], [RutaImagen]) VALUES (1, 'Subzonas', 'subzonas', 'Subzonas hidrográficas que conforman la unidad de análisis del departamento del Atlántico.', NULL)
INSERT INTO [SE].[dbo].[Capas] ([CapaId], [NombreCaracterizacion], [IdentificadorCaracterizacion], [Concepto], [RutaImagen]) VALUES (2, 'Estaciones', 'estaciones', 'Es un conjunto de instrumentos destinados al registro, en un sitio específico, de variables meteorológicas. De acuerdo al número de instrumentos y su representatividad se clasifican en:', NULL)
INSERT INTO [SE].[dbo].[Capas] ([CapaId], [NombreCaracterizacion], [IdentificadorCaracterizacion], [Concepto], [RutaImagen]) VALUES (3, ' Precipitación', 'pre-multianual', 'Distribución de la precipitación media multianual (Período 1980 - 2011) para el departamento del Atlántico.', NULL)
--INSERT INTO [SE].[dbo].[Capas] ([CapaId], [NombreCaracterizacion], [IdentificadorCaracterizacion], [Concepto], [RutaImagen]) VALUES (26, 'Análisis Condiciones secas', 'nvdi_mcipio', 'Distribución de las anomalías del Índice Normalizado de Vegetación (NDVI) en municipios priorizados del departamento del Atlántico', '')
--INSERT INTO [SE].[dbo].[Capas] ([CapaId], [NombreCaracterizacion], [IdentificadorCaracterizacion], [Concepto], [RutaImagen]) VALUES (27, 'Susceptibilidad a inundaciones', 'susceptibilidad_mcipio', 'Análisis de expansión y contracción de los cuerpos de agua', '')
SET IDENTITY_INSERT [SE].[dbo].[Capas] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[CapasDepartamentos] ON
INSERT INTO [SE].[dbo].[CapasDepartamentos] ([CapaDepartamentoId], [CapaId], [DepartamentoId], [ExplicacionMapa]) VALUES (1, 1, 1, '')
INSERT INTO [SE].[dbo].[CapasDepartamentos] ([CapaDepartamentoId], [CapaId], [DepartamentoId], [ExplicacionMapa]) VALUES (2, 2, 1, '')
INSERT INTO [SE].[dbo].[CapasDepartamentos] ([CapaDepartamentoId], [CapaId], [DepartamentoId], [ExplicacionMapa]) VALUES (3, 3, 1, '')
SET IDENTITY_INSERT [SE].[dbo].[CapasDepartamentos] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[CapasMunicipios] ON
INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (1, 15, 1, '')
INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (2, 16, 1, '')
INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (3, 15, 2, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (19, 26, 1, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (20, 26, 2, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (21, 26, 3, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (22, 26, 4, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (23, 26, 5, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (24, 26, 6, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (25, 27, 1, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (26, 27, 2, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (27, 27, 3, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (28, 27, 4, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (29, 27, 5, '')
--INSERT INTO [SE].[dbo].[CapasMunicipios] ([CapaMunicipioId], [CapaId], [MunicipioId], [ExplicacionMapa]) VALUES (30, 27, 6, '')
SET IDENTITY_INSERT [SE].[dbo].[CapasMunicipios] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[OpcionesVisualizacion] ON
INSERT INTO [SE].[dbo].[OpcionesVisualizacion] ([OpcionVisualizacionId], [NombreTipoOpcion], [NombreOpcion], [NombreOpcionJScript], [CapaId], [NombreCortoOpcion]) VALUES (1, 'Ninguna', 'Opcion Subzona', '', 1, NULL)
INSERT INTO [SE].[dbo].[OpcionesVisualizacion] ([OpcionVisualizacionId], [NombreTipoOpcion], [NombreOpcion], [NombreOpcionJScript], [CapaId], [NombreCortoOpcion]) VALUES (2, 'Ninguna', 'Opcion Estacion', '', 2, NULL)
INSERT INTO [SE].[dbo].[OpcionesVisualizacion] ([OpcionVisualizacionId], [NombreTipoOpcion], [NombreOpcion], [NombreOpcionJScript], [CapaId], [NombreCortoOpcion]) VALUES (3, 'Ninguna', 'Opcion precipitacion', '', 3, NULL)
SET IDENTITY_INSERT [SE].[dbo].[OpcionesVisualizacion] OFF
GO

SET IDENTITY_INSERT [SE].[dbo].[Convenciones] ON
INSERT INTO [SE].[dbo].[Convenciones] ([ConvencionId], [NombreIndicador], [ValorLayer], [Color], [OpcionVisualizacionId]) VALUES (1, 'Directos al Mar Caribe', 'Directos al Bajo Magdalena (mi)', 'rgba(230,201,99,1)', 1)
INSERT INTO [SE].[dbo].[Convenciones] ([ConvencionId], [NombreIndicador], [ValorLayer], [Color], [OpcionVisualizacionId]) VALUES (2, 'Bajo Magdalena - Canal del Dique', 'Arroyos Directos al Caribe', 'rgba(189,180,151,1)', 1)
INSERT INTO [SE].[dbo].[Convenciones] ([ConvencionId], [NombreIndicador], [ValorLayer], [Color], [OpcionVisualizacionId]) VALUES (3, 'Directos al Bajo Magdalena', 'Bajo Magdalena - Canal del Dique  2903 (md) - 2909 (mi)', 'rgba(224,215,48,1)', 1)
SET IDENTITY_INSERT [SE].[dbo].[Convenciones] OFF
GO


SET IDENTITY_INSERT [SE].[dbo].[InformacionAmpliaSeccion1] ON
--

SET IDENTITY_INSERT [SE].[dbo].[InformacionAmpliaSeccion1] OFF
GO

--SET IDENTITY_INSERT [SE].[dbo].[InformacionAmpliaSeccion2] ON
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (1, 2, 'SinopticaPpal', 'Sinóptica principal', 'icon-windleft iconos fondo-verde', 'Estaciones utilizadas para análisis y predicciones del estado del tiempo así como para la orientación del transporte aéreo. Esta información se codifica y se intercambia a través de los centros meteorológicos mundiales.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (2, 2, 'ClimatPpal', 'Climatológica principal', 'icon-windleft iconos fondo-amarillo', 'Son estaciones que sirven para caracterizar las condiciones climáticas a nivel local; se hacen lecturas por lo menos tres veces al día.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (3, 2, 'ClimatOrdin', 'Climatológica ordinaria', 'icon-windleft iconos fondo-naranja', 'Estación en la que se efectúan observaciones por lo menos una vez al día, incluidos los máximos y mínimos diarios de la temperatura y las cantidades diarias de precipitación.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (4, 2, 'Pluviometrica', 'Pluviométrica', 'icon-windleft iconos fondo-gris', 'Estación que se compone de un único instrumento (pluviómetro), el cual mide la cantidad de lluvia.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (5, 2, 'Agrometeorologica', 'Agrometeorológica', 'icon-windleft iconos fondo-rojo', 'Estación que incluye sensores de medición de parámetros agrometeorológicos tales como la humedad y temperatura del suelo; en algunos casos la humedad y temperatura foliar. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (6, 4, 'conglomeradosG1', '¿Cuál es la distribución mensual de lluvias por conglomerado?', NULL, 'La gráfica permite conocer la distribución y cantidad mensual de lluvia por conglomerado. Hacia el litoral norte del Atlántico (color verde) las temporadas secas son más intensas y por consiguiente la escasez de agua puede ser más drástica, mientras en el centro y sur del departamento (color rojo) se evidencian mayores lluvias.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (7, 4, 'conglomeradosG2', '¿Cuál es la distribución de la lluvia por períodos agrícolas?', NULL, 'De acuerdo a la distribución de las lluvias, los meses del año se pueden dividir por cuatrimestres de la siguiente forma: temporada seca de principio de año (diciembre, enero, febrero, marzo, cuatrimestre DEFM), temporada de lluvias intermedias (abril, mayo, junio, julio, cuatrimestre AMJJ) y temporadas lluvias fuertes (agosto, septiembre, octubre y noviembre, cuatrimestre ASON). Una característica climática de la región es la frecuente ocurrencia de periodos muy secos durante los meses de enero y febrero que desencadenan sequías con impactos negativos sobre la agricultura de la región. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (8, 5, 'Min_media', 'Mínima media', 'icon-snow iconos', 'Es el valor promedio de temperatura mínima obtenido de una serie de observaciones. Este promedio de valores mínimos puede ser diario, mensual, anual o de varios años. Generalmente en climatología se calcula a partir de 30 años consecutivos de datos de temperaturas mínimas.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (9, 5, 'Media', 'Media', 'icon-wind iconos', 'Es el valor promedio de temperatura obtenido de una serie de observaciones. El promedio puede ser diario, mensual, anual o de varios años. Generalmente en climatología se calcula el valor normal o promedio de 30 años consecutivos de datos.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (10, 5, 'MaximaMedia', 'Máxima media', 'icon-temperaturealt-thermometeralt iconos', 'Es el valor promedio de temperatura máxima obtenido de una serie de observaciones. Este promedio de valores máximos puede ser diario, mensual, anual o de varios años. Generalmente en climatología se calcula a partir de 30 años consecutivos de datos de temperaturas máximas.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (11, 7, 'evotransp_define', '¿Qué es la evapotranspiración? ', NULL, 'La evapotranspiración (ET) se define como la unión entre la evaporación de agua desde el suelo y la transpiración por parte de la vegetación.  De acuerdo a los factores que afectan la ET, puede derivarse en tres diferentes conceptos: La Evapotranspiración del Cultivo de referencia (ETo)  correspondiente a un cultivo hipotetico de 12 cm de altura similar a un pasto con caracteristicas específicas e independiente del tipo, variedad y etapa de desarrollo del cultivo, asi como del manejo agronómico de fertilización y control fitosanitario, lo que es denominado como ET del cultivo bajo condiciones estándar (ETc) y  ET del cultivo bajo condiciones NO estándar (ETc aj) .')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (12, 7, 'evotransp_define2', NULL, NULL, 'La ET como proceso natural del ciclo hidrológico, se considera como la variable clave en el balance hídrico de una región en términos de masa (movimiento de agua) y energía (balance de radiación).  Para el balance hídrico agrícola la ET (ETo en éste caso) representa el proceso por el cual se pierde agua desde el suelo y los cultivos, que debe suplirse mediante la lluvia o el riego en lo que se denomina requerimiento hídrico del cultivo. Esto depende del tipo, la etapa fenológica y el manejo agronómico del cultivo.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (13, 7, 'evotranspG1', '¿Cuál es la distribución mensual de la evapotranspiración?', NULL, ' Se identifican sobre el litoral caribe dos núcleos con menores valores entre 1200 y 1400 mm. Los valores de ETo aumentan hacia el sur del departamento con valores entre 1400 y 1600 mm/año. Esta diferencia se puede atribuir al efecto del océano de reducir la amplitud diaria de la temperatura del aire y los altos valores de velocidad del viento registrados en la zona. A nivel temporal se observan los mayores valores en el mes de marzo, julio y agosto, mientras los menores se dan de septiembre a diciembre. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (14, 9, 'precipitacion_define', '¿Cómo varía mes a mes la precipitación en el centro y sur del Atlántico durante eventos El Niño y La Niña?', NULL, ' De acuerdo a la gráfica que representa las anomalías mensuales de precipitación para eventos El Niño y La Niña (1980-2011) en el centro y sur del Atlántico, entre abril y junio tienden a ser debiles, ocasionando menores alteraciones de los valores medios de precipitación caracteristicos de la zona.  En el periodo de menores lluvias caracteristico de la zona (diciembre a febrero), las anomalías tiende a ser mayores.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (15, 10, 'temperatura_define', '¿Cómo varía la temperatura del aire (máxima media y mínima media) mes a mes durante eventos El Niño y La Niña?', NULL, 'En general, la temperatura del aire (máxima media y mínima media) tiende a aumentar bajo eventos El Niño, mientras bajo eventos La Niña tiende a disminuir ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (16, 11, 'psdi', '¿Qué es el PDSI?', 'icon-soundwave iconos', ' El Palmer Drought Severity Index (PDSI) permite evaluar condiciones locales y regionales de excesos o deficiencias hídricas acumuladas mensualmente en el suelo, (Palmer, 1965).  Este índice refleja la condición de humedad acumulada en el suelo en el mes presente utilizando la humedad antecedente (humedad del mes anterior) lo que constituye un insumo relevante en el estudio de la susceptibilidad a condiciones de exceso o deficiencias de agua para los sistemas agropecuarios.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (17, 13, 'clima_define', '¿Qué es clima? ', NULL, 'Comprende las condiciones atmosféricas predominantes durante un periodo dado (mes, años, miles de años), siendo el resultado no sólo de la dinámica atmosférica, si no de la interacción entre los demás componentes del sistema terrestre tales como: atmosfera, hidrosfera, litosfera, biosfera, antroposfera. El clima determina los fenómenos meteorológicos (nubes, lluvias, tormentas, vientos, entre otros) que se presentan en un lugar o región durante un determinado periodo (Pabón, 2011) ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (18, 14, 'tiempo_define', '¿Qué es tiempo meteorológico? ', NULL, 'Estado de la atmósfera en un momento determinado, expresado en una variedad de fenómenos meteorológicos tales como las nubes, lluvias, tormentas, vientos entre otros, que se observan hora a hora y día a día (Pabón, 2011).')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (19, 29, 'variabilidad_def', '¿Qué es variabilidad climática? ', NULL, 'Se refiere a las fluctuaciones alrededor de una condición predominante (denominada normal climática) observadas durante periodos de tiempo relativamente cortos.  Dicha normal climatológica se utiliza para definir y comparar el clima. La variabilidad climática se determina a partir de la diferencia entre el valor registrado y su promedio, la cual se denomina como anomalía.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (20, 31, 'niño_niña_def', '¿Qué son los eventos ENSO o El Niño y La Niña? ', NULL, 'El Niño/La Niña es el nombre que se da al fenómeno que se presenta cuando la temperatura superficial del mar en el Océano Pacífico Ecuatorial aumenta(calentamiento)/disminuye (enfriamiento) con respecto al promedio histórico. Este fenómeno oceánico está acoplado al fenómeno atmosférico conocido como la «Oscilación del Sur», el cual consiste en una inversión del gradiente de presión atmosférica superficial entre la región oriental y la occidental del océano Pacífico del sur y puede dar como consecuencia una inversión en la circulación de los vientos sobre la superficie del océano Pacífico tropical. El acoplamiento entre estos dos fenómenos, definido como El Niño/La Niña – Oscilación del Sur, ENOS o ENSO, altera de manera notable las condiciones climáticas en Colombia. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (21, 16, 'SinopticaPpal', 'Sinóptica principal', 'icon-windleft iconos fondo-verde', 'Son estaciones cuyos datos se utilizan principalmente para análisis y predicciones del estado del tiempo y para fines de orientación del transporte aéreo. Esta información se codifica y se intercambia a través de los centros mundiales con el fin de alimentar los modelos globales y locales de pronóstico y para el servicio de la aviación.(Norte Santander)')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (22, 16, 'ClimatPpal', 'Climatológica principal', 'icon-windleft iconos fondo-amarillo', 'Estación cuyos datos sirven para caracterizar las condiciones climáticas locales y en la que se hacen lecturas horarias u observaciones por lo menos tres veces al día, además de las lecturas horarias efectuadas según datos registrados autográficamente de las variables: precipitación, temperatura del aire, humedad, viento, radiación solar, evaporación y otros fenómenos especiales.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (23, 16, 'ClimatOrdin', 'Climatológica ordinaria', 'icon-windleft iconos fondo-naranja', 'Estación en la que se efectúan observaciones por lo menos una vez al día, incluidos los máximos y mínimos diarios de la temperatura y las cantidades diarias de precipitación.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (24, 16, 'Pluviometrica', 'Pluviométrica', 'icon-windleft iconos fondo-gris', 'Tiene un pluviómetro o recipiente que permite medir la cantidad de lluvia caída entre dos mediciones realizadas consecutivas.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (25, 16, 'Agrometeorologica', 'Agrometeorológica', 'icon-windleft iconos fondo-rojo', 'Estación que facilita información meteorológica para aplicaciones del sector agropecuario. Se destaca la medición de la humedad y temperatura del suelo, evaporación, y en algunos casos humedad y temperatura de la hoja.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (26, 18, 'conglomeradosG1', '¿Cómo varía la temperatura del aire mes a mes durante eventos El Niño y La Niña? ', '', 'La gráfica nos permite conocer la distribución y cantidad mensual de lluvia en cada conglomerado climático. Hacia el litoral norte de Norte de Santander y Bolívar las temporadas secas son más intensas y por consiguiente la escasez de agua puede ser más drástica ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (27, 18, 'conglomeradosG2', '', '', 'De acuerdo a la distribución de las lluvias, los meses del año se pueden dividir por cuatrimestres de la siguiente forma: temporada seca de principio de año (diciembre, enero, febrero, marzo, cuatrimestre DEFM), temporada de lluvias intermedias (abril, mayo, junio, julio, cuatrimestre AMJJ) y temporadas lluvias fuertes (agosto, septiembre, octubre y noviembre, cuatrimestre ASON). Una característica climática de la región es la frecuente ocurrencia de periodos muy secos durante los meses de enero y febrero que desencadenan sequías con impactos negativos sobre la agricultura de la región. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (28, 19, 'Min_media', 'Mínima media', 'icon-snow iconos', 'Es el valor promedio de temperatura mínima obtenido de una serie de observaciones. Este promedio de valores mínimos puede ser diario, mensual, anual o de varios años. Generalmente en climatología se calcula a partir de 30 años consecutivos de datos de temperaturas mínimas.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (29, 19, 'Media', 'Media', 'icon-wind iconos', 'Es el valor promedio de temperatura obtenido de una serie de observaciones. El promedio puede ser diario, mensual, anual o de varios años. Generalmente en climatología se calcula el valor normal o promedio de 30 años consecutivos de datos.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (30, 19, 'MaximaMedia', 'Máxima media', 'icon-temperaturealt-thermometeralt iconos', 'Es el valor promedio de temperatura máxima obtenido de una serie de observaciones. Este promedio de valores máximos puede ser diario, mensual, anual o de varios años. Generalmente en climatología se calcula a partir de 30 años consecutivos de datos de temperaturas máximas.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (31, 21, 'evotransp_define', '¿Qué es la evapotranspiración? ', '', 'Es la unión entre la evaporación de agua desde el suelo y la transpiración por parte de la vegetación. Sintetiza el comportamiento conjunto de la temperatura del aire, la humedad relativa, la radicación solar y la velocidad del viento. La ETO como proceso natural del ciclo hidrológico, se considera como la variable clave en el balance hídrico de una región en términos de masa (movimiento de agua) y energía (balance de radiación). ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (32, 21, 'evotransp_define2', '', '', 'Para el balance hídrico agrícola la ETO (evapotranspiración del cultivo de referencia) representa el proceso por el cual se pierde agua desde el suelo y los cultivos, que debe suplirse mediante la lluvia o el riego en lo que se denomina requerimiento hídrico del cultivo. Esto depende del tipo, la etapa fenológica y el manejo agronómico del cultivo. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (33, 21, 'evotranspG1', '', '', 'Los cálculos generados para representar los histogramas, gráficas y tablas se han realizado teniendo como base a todas las subzonas hidrográficas que confluyen en el departamento ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (34, 23, 'precipitacion_define', '¿Cómo varía mes a mes la precipitación durante eventos El Niño y La Niña? ', '', 'Variación porcentual de la lluvia mensual promedio bajo eventos El Niño y La Niña (cuando estos se presentan). Nótese que en abril, mayo y junio la señal de las anomalías es más débil a diferencia de diciembre, enero y febrero cuando la señal de aumento y disminución de la precipitación es mayor. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (35, 24, 'temperatura_define', '¿Cómo varía la temperatura del aire mes a mes durante eventos El Niño y La Niña? ', '', 'Las gráficas muestran el efecto de los eventos El Niño y La Niña en las temperaturas mensuales (color azul diminución, color rojo aumento). En general, en la unidad de análisis del departamento de Norte de Santander la temperatura del aire (media, máxima media y mínima media) aumenta bajo eventos El Niño y disminuye bajo eventos La Niña. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (36, 25, 'psdi', '¿Qué es el PDSI?', 'icon-soundwave iconos', 'Es el valor promedio de temperatura mínima obtenido de una serie de observaciones. Este promedio de valores mínimos puede ser diario, mensual, anual o de varios años. Generalmente en climatología se calcula a partir de 30 años consecutivos de datos de temperaturas mínimas.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (37, 27, 'clima_define', '¿Qué es clima? ', '', 'Es el resumen de las condiciones meteorológicas en un lugar determinado, caracterizada por estadísticas a largo plazo de los elementos meteorológicos (temperatura, presión, vientos, humedad y precipitaciones). ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (38, 28, 'tiempo_define', '¿Qué es tiempo meteorológico? ', '', 'Estado de la atmósfera en un instante dado, definido por diversos elementos meteorológicos como la temperatura, precipitación, humedad del aire, entre otros.')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (39, 30, 'variabilidad_def', '¿Qué es variabilidad? ', '', 'El término ''variabilidad climática'' designa las fluctuaciones del clima en diversos períodos de tiempo (por ejemplo, un mes, estación o año determinados) respecto a estadísticas climáticas a largo plazo relacionadas con el mismo período del calendario. En este sentido, la variabilidad climática se mide por esas desviaciones, denominadas habitualmente anomalías. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSeccion2] ([InformacionAmpliaSeccion2Id], [CapaDepartamentoId], [NombreCortoSeccion2], [TituloSeccion2], [Icono], [Descripcion]) VALUES (40, 32, 'niño_niña_def', '¿Qué son los eventos ENSO o Niño y Niña? ', '', 'En forma muy general, «El Niño» es el nombre que se da al fenómeno que se presenta cuando la temperatura superficial del mar en el Océano Pacífico Ecuatorial aumenta con respecto al promedio histórico (calentamiento). Este fenómeno oceánico está acoplado al fenómeno atmosférico conocido como la «Oscilación del Sur», el cual consiste en una inversión del gradiente de presión atmosférica superficial entre la región oriental y la occidental del océano Pacífico del sur y puede dar como consecuencia una inversión en la circulación de los vientos sobre la superficie del océano Pacífico tropical. El acoplamiento entre estos dos fenómenos, definido como El Niño – Oscilación del Sur, ENOS o ENSO, es de grandes consecuencias climáticas en Colombia. ')
--SET IDENTITY_INSERT [SE].[dbo].[InformacionAmpliaSeccion2] OFF
--GO

SET IDENTITY_INSERT [SE].[dbo].[InformacionAmpliaSec1Mcipio] ON
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(1,1,'Estaciones','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal. ','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(2,19,'Índice ndvi ','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(3,25,'Susceptibilidad a inundaciones','El mapa señala los cuerpos de agua que bajo un fenómeno El Niño o La Niña han tenido aumento o disminución en su área en comparación con la línea base cartográfica trazada bajo condiciones normales, la cual corresponde a la oficial a escala 1:25.000 del IGAC. La dinámica de los cuerpos de agua es analizada a partir de índices espectrales calculados sobre imágenes de satélite de media – alta resolución espacial. ','')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(4,7,'Aptitud agroclimática ','En el mapa se pueden observar las zonas en donde el suelo y el agua disponible en el suelo son adecuadas o son de alto riesgo para establecer cultivos. Estos mapas permiten identificar el riesgo ya sea por limitaciones de suelo o por riesgo de excesos o deficiencias hídricas severas para el cultivo.. ','Aptitud agroclimática del munucipio de Repelón. ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(5,13,'','Comportamiento de la humedad en el suelo para el cultivo en épocas sin anomalías climáticas o cuando hay pronósticos de épocas secas (por ejemplo El Niño) o épocas lluviosas (fenómeno de La Niña). Se observa la ubicación de los suelos más aptos, moderados y no aptos para el cultivo, así como la probabilidad de que ocurra un exceso de agua, un déficit de agua o una humedad de suelo adecuada en etapas fenológicas sensibles de cultivo.','Escenarios agroclimáticos del municipio de Repelón para el cultivo de tomate ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(6,2,'Estaciones','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal. ','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(7,20,'Índice ndvi ','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(8,26,'Susceptibilidad a inundaciones','El mapa señala los cuerpos de agua que bajo un fenómeno El Niño o La Niña han tenido aumento o disminución en su área en comparación con la línea base cartográfica trazada bajo condiciones normales, la cual corresponde a la oficial a escala 1:25.000 del IGAC. La dinámica de los cuerpos de agua es analizada a partir de índices espectrales calculados sobre imágenes de satélite de media – alta resolución espacial. ','')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(9,8,'Aptitud agroclimática ','En el mapa se pueden observar las zonas en donde el suelo y el agua disponible en el suelo son adecuadas o son de alto riesgo para establecer cultivos. Estos mapas permiten identificar el riesgo ya sea por limitaciones de suelo o por riesgo de excesos o deficiencias hídricas severas para el cultivo.. ','Aptitud agroclimática del munucipio de Suan ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(10,14,'','Comportamiento de la humedad en el suelo para el cultivo en épocas sin anomalías climáticas o cuando hay pronósticos de épocas secas (por ejemplo El Niño) o épocas lluviosas (fenómeno de La Niña). Se observa la ubicación de los suelos más aptos, moderados y no aptos para el cultivo, así como la probabilidad de que ocurra un exceso de agua, un déficit de agua o una humedad de suelo adecuada en etapas fenológicas sensibles de cultivo. ','Escenarios agroclimáticos del municipio de Suan para el cultivo de tomate ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(11,3,'Estaciones','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal. ','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(12,21,'Índice ndvi ','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(13,27,'Susceptibilidad a inundaciones','El mapa señala los cuerpos de agua que bajo un fenómeno El Niño o La Niña han tenido aumento o disminución en su área en comparación con la línea base cartográfica trazada bajo condiciones normales, la cual corresponde a la oficial a escala 1:25.000 del IGAC. La dinámica de los cuerpos de agua es analizada a partir de índices espectrales calculados sobre imágenes de satélite de media – alta resolución espacial. ','')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(14,9,'Aptitud agroclimática ','En el mapa se pueden observar las zonas en donde el suelo y el agua disponible en el suelo son adecuadas o son de alto riesgo para establecer cultivos. Estos mapas permiten identificar el riesgo ya sea por limitaciones de suelo o por riesgo de excesos o deficiencias hídricas severas para el cultivo.. ','Aptitud agroclimática del munucipio de Manti ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(15,15,'','Comportamiento de la humedad en el suelo para el cultivo en épocas sin anomalías climáticas o cuando hay pronósticos de épocas secas (por ejemplo El Niño) o épocas lluviosas (fenómeno de La Niña). Se observa la ubicación de los suelos más aptos, moderados y no aptos para el cultivo, así como la probabilidad de que ocurra un exceso de agua, un déficit de agua o una humedad de suelo adecuada en etapas fenológicas sensibles de cultivo. ','Escenarios agroclimáticos del municipio de Manati para el cultivo de tomate ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(16,4,'Estaciones','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal. ','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(17,24,'Índice ndvi ','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(18,28,'Susceptibilidad a inundaciones','El mapa señala los cuerpos de agua que bajo un fenómeno El Niño o La Niña han tenido aumento o disminución en su área en comparación con la línea base cartográfica trazada bajo condiciones normales, la cual corresponde a la oficial a escala 1:25.000 del IGAC. La dinámica de los cuerpos de agua es analizada a partir de índices espectrales calculados sobre imágenes de satélite de media – alta resolución espacial. ','')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(19,10,'Aptitud agroclimática ','En el mapa se pueden observar las zonas en donde el suelo y el agua disponible en el suelo son adecuadas o son de alto riesgo para establecer cultivos. Estos mapas permiten identificar el riesgo ya sea por limitaciones de suelo o por riesgo de excesos o deficiencias hídricas severas para el cultivo.. ','Aptitud agroclimática del municipio de Campo de la Cruz ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(20,16,'','Comportamiento de la humedad en el suelo para el cultivo en épocas sin anomalías climáticas o cuando hay pronósticos de épocas secas (por ejemplo El Niño) o épocas lluviosas (fenómeno de La Niña). Se observa la ubicación de los suelos más aptos, moderados y no aptos para el cultivo, así como la probabilidad de que ocurra un exceso de agua, un déficit de agua o una humedad de suelo adecuada en etapas fenológicas sensibles de cultivo. ','Escenarios agroclimáticos del municipio de Campo de la Cruz para el cultivo de tomate ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(21,5,'Estaciones','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal. ','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(22,11,'Aptitud agroclimática ','En el mapa se pueden observar las zonas en donde el suelo y el agua disponible en el suelo son adecuadas o son de alto riesgo para establecer cultivos. Estos mapas permiten identificar el riesgo ya sea por limitaciones de suelo o por riesgo de excesos o deficiencias hídricas severas para el cultivo.. ','Aptitud agroclimática del munucipio de Candelaria ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(23,17,'','Comportamiento de la humedad en el suelo para el cultivo en épocas sin anomalías climáticas o cuando hay pronósticos de épocas secas (por ejemplo El Niño) o épocas lluviosas (fenómeno de La Niña). Se observa la ubicación de los suelos más aptos, moderados y no aptos para el cultivo, así como la probabilidad de que ocurra un exceso de agua, un déficit de agua o una humedad de suelo adecuada en etapas fenológicas sensibles de cultivo. ','Escenarios agroclimáticos del municipio de Candelaria para el cultivo de tomate ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(24,23,'Índice ndvi ','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(25,29,'Susceptibilidad a inundaciones','El mapa señala los cuerpos de agua que bajo un fenómeno El Niño o La Niña han tenido aumento o disminución en su área en comparación con la línea base cartográfica trazada bajo condiciones normales, la cual corresponde a la oficial a escala 1:25.000 del IGAC. La dinámica de los cuerpos de agua es analizada a partir de índices espectrales calculados sobre imágenes de satélite de media – alta resolución espacial. ','')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(26,6,'Estaciones','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal. ','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(27,12,'Aptitud agroclimática ','En el mapa se pueden observar las zonas en donde el suelo y el agua disponible en el suelo son adecuadas o son de alto riesgo para establecer cultivos. Estos mapas permiten identificar el riesgo ya sea por limitaciones de suelo o por riesgo de excesos o deficiencias hídricas severas para el cultivo.. ','Aptitud agroclimática del munucipio de Santa Lucía ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(28,18,'','Comportamiento de la humedad en el suelo para el cultivo en épocas sin anomalías climáticas o cuando hay pronósticos de épocas secas (por ejemplo El Niño) o épocas lluviosas (fenómeno de La Niña). Se observa la ubicación de los suelos más aptos, moderados y no aptos para el cultivo, así como la probabilidad de que ocurra un exceso de agua, un déficit de agua o una humedad de suelo adecuada en etapas fenológicas sensibles de cultivo. ','Escenarios agroclimáticos del municipio de Santa Lucía para el cultivo de tomate ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(29,24,'Índice ndvi ','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico ')
--INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(30,30,'Susceptibilidad a inundaciones','El mapa señala los cuerpos de agua que bajo un fenómeno El Niño o La Niña han tenido aumento o disminución en su área en comparación con la línea base cartográfica trazada bajo condiciones normales, la cual corresponde a la oficial a escala 1:25.000 del IGAC. La dinámica de los cuerpos de agua es analizada a partir de índices espectrales calculados sobre imágenes de satélite de media – alta resolución espacial. ','')
--
INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(1,13,'','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal. ','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico')
INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(2,1,'Índice ndvi ','El mapa indica la pérdida o estabilidad del índice normalizado de vegetación (NDVI), bajo un fenómeno El Niño en un período determinado y el obtenido en el mismo período bajo una condición normal','Mapa de Anomalías del Índice Normalizado de Vegetación (NDVI) del departamento del Atlántico ')
INSERT INTO [SE].[dbo].InformacionAmpliaSec1Mcipio([InformacionAmpliaSec1McipioId],[CapaMunicipioId],[TituloSeccion1Mcipio],[InformacionMapa],[NombreMapa])VALUES(3,2,'','El mapa señala los cuerpos de agua que bajo un fenómeno El Niño o La Niña han tenido aumento o disminución en su área en comparación con la línea base cartográfica trazada bajo condiciones normales, la cual corresponde a la oficial a escala 1:25.000 del IGAC. La dinámica de los cuerpos de agua es analizada a partir de índices espectrales calculados sobre imágenes de satélite de media – alta resolución espacial. ','')
--

SET IDENTITY_INSERT [SE].[dbo].[InformacionAmpliaSec1Mcipio] OFF
GO

--SET IDENTITY_INSERT [SE].[dbo].[InformacionAmpliaSec2Mcipio] ON
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (1, 37, 'Expans', 'Expansion', 'Señala el aumento del área de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (2, 37, 'Contracc', 'Contracción', 'Señala la disminución de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (3, 25, 'Leyenda', 'Leyenda', 'Escenarios')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (4, 38, 'Expans', 'Expansion', 'Señala el aumento del área de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (5, 38, 'Contracc', 'Contracción', 'Señala la disminución de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (6, 26, 'Leyenda', 'Leyenda', 'Escenarios')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (7, 39, 'Expans', 'Expansion', 'Señala el aumento del área de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (8, 39, 'Contracc', 'Contracción', 'Señala la disminución de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (9, 27, 'Leyenda', 'Leyenda', 'Escenarios')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (10, 40, 'Expans', 'Expansion', 'Señala el aumento del área de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (11, 40, 'Contracc', 'Contracción', 'Señala la disminución de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (12, 28, 'Leyenda', 'Leyenda', 'Escenarios')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (13, 41, 'Expans', 'Expansion', 'Señala el aumento del área de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (14, 41, 'Contracc', 'Contracción', 'Señala la disminución de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (15, 29, 'Leyenda', 'Leyenda', 'Escenarios')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (16, 42, 'Expans', 'Expansion', 'Señala el aumento del área de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (17, 42, 'Contracc', 'Contracción', 'Señala la disminución de los cuerpos de agua. ')
--INSERT INTO [SE].[dbo].[InformacionAmpliaSec2Mcipio] ([InformacionAmpliaSec2McipioId], [CapaMunicipioId], [NombreCortoSeccion2], [TituloSeccion2Mcipio], [Descripcion]) VALUES (18, 30, 'Leyenda', 'Leyenda', 'Escenarios')
--SET IDENTITY_INSERT [SE].[dbo].[InformacionAmpliaSec2Mcipio] OFF
--GO

--
--INTEGRANDO LA INFORMACION DE EFECTOS

--actualizando la informacion existente de Efectos
UPDATE SE.DBO.Efectos SET Nombre = 'En la fase de semillero se presentaría una baja tasa de emergencia debida a que no  ocurre la imbibición.' where EfectoId=1;
UPDATE SE.DBO.Efectos SET Nombre = 'Durante el trasplante se presentará una baja tasa de establecimiento.' where EfectoId=2;
UPDATE SE.DBO.Efectos SET Nombre = 'En la fase de floración se presentará un desfase en el inicio de la fase, baja formación de botones florales y aborto floral.' where EfectoId=3;
UPDATE SE.DBO.Efectos SET Nombre = 'En la fase de fructificación se presentará una disminución en el número de frutos, frutos de menor tamaño y con deformaciones.' where EfectoId=4;
UPDATE SE.DBO.Efectos SET Nombre = 'En la fase de semillero se presentaría una baja tasa de emergencia, debido a pudrición de la radícula y ausencia de oxígeno e el sustrato.' where EfectoId=5;
UPDATE SE.DBO.Efectos SET Nombre = 'En la fase de floración se presentará un desfase en el inicio de la fase, baja formación de botones florales a causa del desarrollo de enfermedades fungosas y bacterianas.' where EfectoId=6;
UPDATE SE.DBO.Efectos SET Nombre = 'En la fase de fructificación se presentará una disminución en el número de frutos, frutos de menor tamaño, deformación de frutos' where EfectoId=7;
UPDATE SE.DBO.Efectos SET Nombre = 'Las condiciones de humedad del suelo serían adecuadas para el establecimiento y crecimiento de los cultivos y se prevé que no habrá eventos meteorológicos atípicos que puedan influir negativamente. Si se han realizado un manejo integrado del cultivo, con una planificación adecuada del riego teniendo en cuenta las necesidades del cultivo y se realizó una correcta preparación del suelo, el cultivo se desarrollará adecuadamente.' where EfectoId=8;
GO

-- insertando los nuevos efectos
SET IDENTITY_INSERT SE.[dbo].Efectos ON
INSERT INTO SE.[dbo].Efectos(EfectoId,Nombre) VALUES(9,'Se debe mantener el monitoreo de los elementos de la atmósfera, como son humedad, temperatura, la dinámica de las plagas y enfermedades, de manera que se tomen decisiones oportunas para evitar problemas en el desarrollo del cultivo.');
INSERT INTO SE.[dbo].Efectos(EfectoId,Nombre) VALUES(10,'Baja disponibilidad de forraje para alimentación de los animales.');
INSERT INTO SE.[dbo].Efectos(EfectoId,Nombre) VALUES(11,'Incremento de problemas por incidencia de plagas sobre los forrajes.');
SET IDENTITY_INSERT SE.[dbo].Efectos OFF
GO

--Insertando informacion en Ofertas
SET IDENTITY_INSERT SE.[dbo].Ofertas ON
INSERT INTO SE.DBO.OFERTAS(OfertaId,TipoPrediccionId,CultivoId,EfectoId,IndicadorLocal,CultivoEtapaId) VALUES(1,3,2,1,1,11);
INSERT INTO SE.DBO.OFERTAS(OfertaId,TipoPrediccionId,CultivoId,EfectoId,IndicadorLocal,CultivoEtapaId) VALUES(2,3,2,2,1,11);
INSERT INTO SE.DBO.OFERTAS(OfertaId,TipoPrediccionId,CultivoId,EfectoId,IndicadorLocal,CultivoEtapaId) VALUES(3,3,2,3,1,11);
SET IDENTITY_INSERT SE.[dbo].Ofertas OFF
GO
