@{
    ViewBag.Title = "Parametros";
}

<!-- Scripts -->
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-ui-1.11.1.js"></script>
<script src="~/Scripts/jquery.ui.datepicker-es.js"></script>
<script src="~/Scripts/bootstrap-3.2.js"></script>
<script src="~/Scripts/bootstrap-select.js"></script>
<!-- Estilos -->
<link href="~/Content/css/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/css/Site.css" rel="stylesheet" />
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="/Content/css/OpcTecnologicas.css" rel="stylesheet" />
<style>
    .tooltip.top .tooltip-inner {
        background-color: red;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: red;
    }

    .panel-adm {
        background-color: #BDC3C7;
        color:white;
    }

    .contenedor-admin {
        top: 200px;
    }

    .breadcrumb{
        top:30px;
    }
</style>

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Clima">Funcional</a></li>
    <li class="active">Efectos y ofertas</li>
</ol>

<div class="row contenedor-admin contenido" style="padding-left:10em; padding-right:5em">
    <!--Validación de usuario administrador-->
    @if ((User.Identity.Name.Split('|')[1]) == "True")
    {
        <div class="col-sm-4 col-md-6 col-xs-12">
            <a href="~/Efectos" class="fa-links">
                <div class="thumbnail panel-adm">
                    <span class="icon-insertpicturecenter" style="font-size:3em;"></span>
                    <h3>Efectos</h3>
                </div>
            </a>
        </div>

        <div class="col-sm-4 col-md-6 col-xs-12">
            <a href="~/AreaTematica" class="fa-links">
                <div class="thumbnail panel-adm">
                    <span class="icon-insertpicturecenter" style="font-size:3em;"></span>
                    <h3>Area temática</h3>
                </div>
            </a>
        </div>

                <!-- tipo opcion  -->
        <div class="col-sm-4 col-md-6 col-xs-12">
            <a href="~/TipoOferta" class="fa-links">
                <div class="thumbnail panel-adm">
                    <span class="icon-insertpicturecenter" style="font-size:3em;"></span>
                    <h3>Tipo oferta/opción OT</h3>
                </div>
            </a>
        </div>

                <!-- Análisis -->
        <div class="col-sm-4 col-md-6 col-xs-12">
            <a href="~/OpcionTecnologica" class="fa-links">
                <div class="thumbnail panel-adm">
                    <span class="icon-insertpicturecenter" style="font-size:3em;"></span>
                    <h3>Nombre opción OT</h3>
                </div>
            </a>
        </div>

        <div class="col-sm-4 col-md-6 col-xs-12">
            <a href="~/ListaOpciones" class="fa-links">
                <div class="thumbnail panel-adm">
                    <span class="icon-insertpicturecenter" style="font-size:3em;"></span>
                    <h3>Relaciones OT</h3>
                </div>
            </a>
        </div>

        <div class="col-sm-4 col-md-6 col-xs-12">
            <a href="~/FichaOpcion" class="fa-links">
                <div class="thumbnail panel-adm">
                    <span class="icon-insertpicturecenter" style="font-size:3em;"></span>
                    <h3>Fichas OT</h3>
                </div>
            </a>
        </div>

    }
    else
    {
           <!--Validación de usuario administrador fallida-->
        <div class="text-center" style="color: red">
            No tiene permisos para ingresar a esta página
        </div>
    }
</div>