@{
    ViewBag.Title = "Registro";
}


<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Sistema Experto</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css">
        <link href="http://turbo87.github.io/sidebar-v2/src/ol3-sidebar.css" rel="stylesheet" />*@
    <link href="/Content/css/app.css" rel="stylesheet" />
    <link href="/Content/css/OpcTecnologicas.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

<body data-target=".navbar-Opciones">
    <section id="header" class="appear"></section>
    <section class="Encabezado">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header" style="padding-left: 5%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/Content/imagenes/globos.png" style="max-width: 50px">
                        SISTEMA EXPERTO MAPA
                    </a>
                </div>
                <div class="navbar-collapse collapse navbar-right " style="padding-right: 15%;">
                    <ul class="nav navbar-nav">
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="$('#ayuda').modal('show'); return false;" style="color: #ccc"><i class="fa  fa-comment-o" style="color: white"></i>&nbsp;&nbsp;Ayuda</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="$('#administracion').modal('show'); return false;" style="color: #ccc"><i class="fa fa-user" style="color: white"></i>&nbsp;&nbsp;Admin</a></li>
                        <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" onclick="$('#acerca').modal('show'); return false;" style="color: #ccc"><i class="fa fa-question-circle" style="color: white"></i>&nbsp;&nbsp;Acerca de</a></li>

                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>

        <ol class="breadcrumb">
            <li class="active">Inicio</li>
        </ol>

    </section>
    
    <section class="subtitulo_explica">
        <div class="container">

            <div class="row aling-center mar-bot40">
                <div class="col-md-1">
                    <div class="barra_vertical">
                        <ul class="nav nav-pills nav-stacked">

                            <li><a href="#opc1">1</a></li>
                            <li class="divider"></li>
                            <li class="active"><a href="#opc2">2</a></li>
                            <li class="divider"></li>
                            <li><a href="#opc3">3</a></li>
                            <li class="divider"></li>
                            <li><a href="#opc4">4</a></li>
                            <li class="divider"></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-11">
                    <div>
                        <h4 class="titulo_resultado">Paso 2: Seleccionar estado fenológico</h4>

                    </div>
                    <p class="textoDetalle">
                        Explicacion general paso 2: Esta es el texto detallado,Esta es el texto detalladoEsta es el texto detalladoEsta es el texto detallado
                        Esta es el texto detallado, Esta es el texto detallado, Esta es el texto detallado,Esta es el texto detallado
                    </p>
                    <h5>Vegetativo</h5>
                    <p class="textoDetalle">
                        parrafo 1. Esta es el texto detallado,Esta es el texto detalladoEsta es el texto detalladoEsta es el texto detallado
                        Esta es el texto detallado, Esta es el texto detallado, Esta es el texto detallado,Esta es el texto detallado
                    </p>
                    <h5>Floración</h5>
                    <p class="textoDetalle">
                        Parrafo 2. Estado floracion Esta es el texto detallado,Esta es el texto detalladoEsta es el texto detalladoEsta es el texto detallado
                        Esta es el texto detallado, Esta es el texto detallado,Esta es el texto detallado, Esta es el texto detallado,

                    </p>
                    <h5>Fructificación</h5>
                    <p class="textoDetalle">
                        Parrafo 3. estado fructificación, Este es el texto detallado,Esta es el texto detalladoEsta es el texto detalladoEsta es el texto detallado
                        Esta es el texto detallado, Esta es el texto detallado, Esta es el texto detallado,Esta es el texto detallado
                        Esta es el texto detallado,Esta es el texto detallado,
                    </p>
                    <h5>Senescencia</h5>
                    <p class="textoDetalle">
                        Parrafo 4. estado Senescencia, Este es el texto detallado,Esta es el texto detalladoEsta es el texto detalladoEsta es el texto detallado
                        Esta es el texto detallado, Esta es el texto detallado, Esta es el texto detallado,Esta es el texto detallado
                        Esta es el texto detallado,Esta es el texto detallado,
                    </p>
                    <div class="espacio10"></div>
                    <h6 style="font-weight: bold">Seleccione el estado fenológico de su cultivo</h6>

                    <div class="RadioButton_Estados">
                        <span class="glyphicon glyphicon-leaf" style="color: green"></span>
                        <label class="radio-inline">

                            <input value="1" type="radio" name="optradio">Vegetativo

                        </label>
                        <span class="glyphicon glyphicon-asterisk" style="color: red"></span>
                        <label class="radio-inline">
                            <input value="2" type="radio" name="optradio">Floración
                        </label>
                        <span class="glyphicon glyphicon-tree-conifer" style="color: #89C642"></span>
                        <label class="radio-inline">
                            <input value="3" type="radio" name="optradio">Fructificación
                        </label>
                        <span class="glyphicon glyphicon-fire" style="color: brown"></span>
                        <label class="radio-inline">
                            <input value="4" type="radio" name="optradio">Senescencia
                        </label>
                    </div>
                    <div class="espacio10"></div>
                    <div style="float: left;padding-bottom:5px"> <a href="~/Regional/Pais" class="btn btn-success" role="button">Continuar</a></div>

                </div>
                
            </div>
        </div>
    </section>
    @*<section class="radiobuttons_estados">
        <div class="container">*@
         
    
        @*</div>
    </section>*@
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>