/*html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}*/
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
.sidebar-wrapper {
  width: 100%;
  height: 70%;
  position: relative;
  overflow: hidden;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 150px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
.leaflet-sidebar {
  z-index: 1020;
  height: 100%;
}
.leaflet-sidebar > .leaflet-control {
  padding: 0px;
}
.leaflet-sidebar .close {
  display: none;
}
.table {
  margin-bottom: 0px;
}
/*.navbar .navbar-brand {
  font-weight: bold;
  font-size: 30px;
  color: white;
}*/
.navbar-collapse.in {
  overflow-y: hidden;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.navbar-fixed-top {
	background:black;	
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: black;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
}
.panel-default > .panel-heading {
    color: white;
    background-color: black;
    border-color: #CCC;
}
.breadcrumb {
    padding: 5px 5px;
    margin-bottom: 0px;
    font-size: 17px;
    background-color:#777;
    color:white; 
}
a:hover, a:focus {
    color: white;
    text-decoration: underline;
}
a {
    color: white;
    text-decoration: none;
}
.breadcrumb > .active {
    color: #BBB;
}
.leaflet-sidebar {
    position: absolute;
    height: 50%;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2000;
}
.leaflet-sidebar > .leaflet-control {
    background: none repeat scroll 0% 0% #777;
}