@{
    ViewBag.Titulo = "Error";
}

<script>
function volver() {
    window.history.back();
}
</script>

<style>
    body{
        height:auto;
    }
</style>

<div class="text-center" style="margin-top:200px;">
    <h2>Error en el sistema</h2>
    <br />
    <p>Se ha registrado un error en el Sistema Experto. <br /><br />Por favor intente ingresar más tarde</p>
    <br />
    <br />
    <a class="btn btn-default" onclick="volver()" href="#">Volver al inicio</a>
</div>