
@{
    ViewBag.Title = "Versionamiento";
}

<!-- Estilos -->
@*<link href="~/Content/css/bootstrap_3.2.css" rel="stylesheet" />
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />
<link href="~/Content/css/SistemaExperto.css" rel="stylesheet" />*@
<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Parametros">General</a></li>
     <li class="active">Versionamiento</li>
</ol>

<style>
    .navbar-default{
        background-color:white;
    }
</style>

<!-- Contenido -->
<div class="row col-md-offset-1 col-md-10 contenido">
    <h2>Versionamiento</h2>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingsiete">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsecuatro" aria-expanded="false" aria-controls="collapsecuatro">
                        Version 1.9
                    </a>
                </h4>
            </div>
            <div id="collapsecuatro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsiete">
                <div class="panel-body">
                    <ul>
                        <li>Agregan descripción de nuevas versiones</li>
                        <li>Se ajusta lista de estaciones de productividad</li>
                        <li>Se ajusta para leer desde BD las convenciones de estaciones municipio SPI y PPT</li>
                        <li>Se inserta nuevo grupo de ganaderia2 para ovino-caprino (Escenarios)</li>
                        <li>Implementación lectura de mapa para productividad</li>
                        <li>Implementa funcionalidad de exportar tabla en productividad</li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingsiete">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsecuatro" aria-expanded="false" aria-controls="collapsecuatro">
                        Version 1.8
                    </a>
                </h4>
            </div>
            <div id="collapsecuatro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsiete">
                <div class="panel-body">
                    <ul>
                        <li>Se agrega ayuda para productividad y se ajusta cargue masivo de productividad en un modal</li>
                        <li>Modificación en hojas de estilos y carga de Bootstrap en local</li>
                        <li>Se implementa nueva lista para actividades en opción de registro del usuario en SE</li>
                        <li>Se agrega funcionalidad para generar pdf a capa "prácticas de manejo"</li>
                        <li>Ajustes varios según notas de Evernote</li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingsiete">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsecuatro" aria-expanded="false" aria-controls="collapsecuatro">
                        Version 1.7
                    </a>
                </h4>
            </div>
            <div id="collapsecuatro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsiete">
                <div class="panel-body">
                    <ul>
                        <li>incluir en navegación de Mapa el departamento actual</li>
                        <li>Ajustes en gráficas, cambio estilo para ver vistas de adminstración</li>
                        <li>Ajustes en diseño encabezado, productividad y presentación de alertas</li>
                        <li>Modificaciones a página de inicio y submenús</li>
                        <li>Se implementa funcionalidad para cargue de datos de clima  desde excel para productividad</li>
                  
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingsiete">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsecuatro" aria-expanded="false" aria-controls="collapsecuatro">
                        Version 1.6
                    </a>
                </h4>
            </div>
            <div id="collapsecuatro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsiete">
                <div class="panel-body">
                    <ul>
                        <li>Ajuste en Local para leer el mes de predicción y no el mes actual</li>
                        <li>Se cambian los llamados a Palmer por lectura de SPI en estacionMensual</li>
                        <li>Implementación grupos cultivos para iconos de etapas</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingsiete">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsecuatro" aria-expanded="false" aria-controls="collapsecuatro">
                        Version 1.5
                    </a>
                </h4>
            </div>
            <div id="collapsecuatro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsiete">
                <div class="panel-body">
                    <ul>
                        <li>Se implementa funcionalidad de descarga en formato pdf de términos del glosario</li>
                        <li>Ajustes a tablas de administración (implementa como datatables)</li>
                        <li>Ajustes a modelo y BD de suelo (valores máximo y mínimo)</li>
                        <li>Incluir en navegación de departamento la opción de cambiar a otro departamento y en municipio cambiar a otro municipio</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingsiete">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsecuatro" aria-expanded="false" aria-controls="collapsecuatro">
                        Version 1.4
                    </a>
                </h4>
            </div>
            <div id="collapsecuatro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsiete">
                <div class="panel-body">
                    <ul>
                       <li>Incorporar en nombre de usuario la edición del mismo</li>
                        <li>Validación de no mostrar botón de efectos si no hay condiciones</li>
                        <li>Se incluye nueva tabla de parámetros y la administración de la misma</li>
                        <li>Se ajusta error de descarga de Ficha OT por no existencia de zona</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingseis">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsecuatro" aria-expanded="false" aria-controls="collapsecuatro">
                        Version 1.3
                    </a>
                </h4>
            </div>
            <div id="collapsecuatro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingseis">
                <div class="panel-body">
                    <ul>
                       
                        <li>Se incluye funcionalidad de olvido de clave (genera aleatoria y envia un mail al correo registrado)</li>
                        <li>Ajustes para componentes OL3 sobre país, departamento y municipio</li>
                        <li>Ajuste de fórmula de cálculo de Kc para que no genere valores NaN para productividad</li>
                        <li>Carga de mapas v2. País y Departamento</li>
                        <li>Nuevos ajustes y capas en municipios con nuevo OpenLayers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingcinco">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsecuatro" aria-expanded="false" aria-controls="collapsecuatro">
                        Version 1.2
                    </a>
                </h4>
            </div>
            <div id="collapsecuatro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingcinco">
                <div class="panel-body">
                    <ul>
                        <li>Ajustes a modelo incluyendo nuevas tablas para módulos</li>
                        <li>Implementación módulo de productividad y rendimiento</li>
                        <li>Implementación módulo de glosario</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingcuatro">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsecuatro" aria-expanded="false" aria-controls="collapsecuatro">
                        Version 1.1
                    </a>
                </h4>
            </div>
            <div id="collapsecuatro" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingcuatro">
                <div class="panel-body">
                    <ul>
                        <li>Actualización de información cartográfica</li>
                        <li>Carga de plantillas de escenarios</li>
                        <li>Sincronización de mapas</li>
                        <li>Permisos en directorios para descarga de mapas y fichas, y carga de archivos</li>
                        <li>Actualización de gráficas de temperatura, precipitación y ETo en ver más</li>
                        <li>Imágenes genéricas en estados fenológicos</li>
                        <li>Se habilita pantalla de error en ambiente de Producción</li>
                        <li>Implementación de clic sobre mapa para observar la leyenda de la zona correspondiente</li>
                        <li>Ajuste de excepción para condiciones que no existen en calendarios (regional)</li>
                        <li>Textos de convención fuera de la gráfica en módulo de requerimiento hídrico. Ajuste para visualización de franjas en caso de seleccionar el mes actual como mes de siembra del cultivo</li>
                        <li>Se eliminan íconos de UC (cuadro, rombo y círculo)</li>
                        <li>Inclusión de página de detalles de versión</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Version 1.0
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Entrega del Sistema Experto SEMapa en su versión inicial
                   </div>
            </div>
        </div>
    </div>
</div>