@model IEnumerable<SistemaExperto.Models.Efectos>

@{
    ViewBag.Title = "Index";
}

<!-- Estilos -->
<link href="~/Content/css/se.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/whhg.css" rel="stylesheet" />

<!-- Scripts -->
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bootstrap-3.2.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>

<!-- Ruta de navegación -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li><a href="~/Administracion/Index">Administración</a></li>
    <li><a href="~/Administracion/Mapa">Mapas</a></li>
    <li class="active">Efectos</li>
</ol>

<!-- Contenido -->
<div class="row col-md-10 col-md-offset-1 contenido">
    <!-- Botón crear -->
    <div class="text-center">
        <a class="btn btn-default" href="~/Efectos/Crear" role="button"><span class="glyphicon glyphicon-plus-sign"></span> Crear nuevo</a>
    </div>
    <!-- Título -->
    <h2>Lista de efectos</h2>
    <hr />


    <!-- Tabla -->
    <table class="table" id="tabla_index">

        <!-- Encabezado -->
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().EfectoId)
                </th>
                <th width="60">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
                </th>
                <th width="30"></th>
            </tr>
        </thead>

        <!-- Contenido -->
        <tbody></tbody>
    </table>
</div>

<!-- Script de tabla -->
<script>
    $(document).ready(function () {
		var raiz = '@(HttpContext.Current.Request.ApplicationPath)';
        if (raiz.length == 1) {
            raiz = "";
        }
        $('#tabla_index').dataTable({
            "pagingType": "full", "bServerSide": true,
            "sAjaxSource": raiz+"/Efectos/CargarDatosTabla",
            "bProcessing": true,
            "order": [[1, "desc"]],
            "bJQueryUI": false,
            "iDisplayLength": 5,
            "bLengthChange": false,
            "oLanguage": {
                "sEmptyTable": "No se encuentran efectos",
                "sProcessing": "Cargando registros...",
                "sZeroRecords": "No se encuentran efectos",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sPrevious": "Anterior",
                    "sNext": "Siguiente",
                    "sLast": "Último"
                },
                "sLoadingRecords": "Cargando...",
                "sInfoEmpty": "0 registros",
                "sInfo": "Mostrando _END_ registro(s) de un total de _TOTAL_",
                "sSearch": "Buscar:",
                "sLengthMenu": "_MENU_ estaciones por página",
                "sInfoFiltered": "(filtrado de _MAX_ registros)"
            },
            "aoColumns": [
                   {
                       "mData": "EfectoId",
                       "bSearchable": false,
                       "bSortable": false,
                       "bVisible": false

                   },
                    { "mData": "Nombre" },
                    {
                        "mData": function (source, type, val) { return '<div class="btn-group" role="group" ><a href="' + raiz + '/Efectos/Editar/' + source.EfectoId + '" title="Editar" class="btn btn-default"><i class="icon-edit"></i></a>  <a href="' + raiz + '/Efectos/Detalles/' + source.EfectoId + '"title="Detalles" class="btn btn-default">  <i class="icon-dotlist"></i></a>  <a href="' + raiz + '/Efectos/Eliminar/' + source.EfectoId + '" title="Eliminar" class="btn btn-default"> <i class="icon-circledelete"></i> </a> </div>'; },
                    }
            ]
        });
    });
</script>

<!-- Script de globo de ayuda -->
<script>
    $('[data-toggle="tooltip"]').tooltip({
        'placement': 'top'
    });
</script>