
<style>
    a.openModal {
        margin: 1em auto;
        display: block;
        width: 200px;
        background: #ccc;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 10px;
        text-shadow: 0 1px 0 #fff;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    }

    th, td {
        padding: 5px;
        vertical-align: top;
    }

    table {
        border-collapse: separate;
        border-spacing: 20px;
        margin: 0 auto;
    }

    .panel-heading {
        cursor: pointer;
    }

    .form_productividad {
        border-radius: 5px;
        border-color: #00A99D;
        color: #00A99D;
    }

    .tabs-productividad > li {
        margin-right: 8px;
        font-weight: bold;
    }

        .tabs-productividad > li > a {
            border-color: #3FA9F5 !important;
            padding: 8px 15px;
            border-radius: 5px;
            border-width: 2px !important;
            color: #999999;
            background-color: white;
            cursor: pointer !important;
        }

        .tabs-productividad > li.active > a,
        .tabs-productividad > li.active > a:hover,
        .tabs-productividad > li.active > a:focus {
            color: #3FA9F5;
        }

        .tabs-productividad > li > a:hover {
            color: #3FA9F5;
        }

    .nav-tabs {
        border-bottom: none;
    }

    .panel-principal-productividad {
        height: 100%;
        margin-bottom: 10px;
        min-height: 700px;
    }

    .panel-alto-50 {
        height: 99%;
        padding-bottom: 10px;
        min-height: 630px;
    }

    .panel-alto-100 {
        height: 99%;
        padding-bottom: 10px;
        min-height: 600px;
    }

    .panel-alto-200 {
        height: 120%;
        padding-bottom: 10px;
        min-height: 600px;
    }

    .ui-datepicker-calendar .ui-state-active {
        background: #6eafbf;
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
        color: #e0e0e0;
        text-shadow: 0px 1px 0px #4d7a85;
        filter: dropshadow(color=#4d7a85, offx=0, offy=1);
        border: 1px solid #55838f;
        position: relative;
        margin: -1px;
    }

    #load {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        background: url('../Content/imagenes/rueda.gif') no-repeat center center rgba(0,0,0,0.25);
    }

    .deshabilitar-tab {
        pointer-events: none;
    }

    .modal-contenido {
        border-color: #3FA9F5;
    }

    .map {
        min-width: 100px;
        background: none repeat scroll 0% 0% #ff5050;
        min-height: 100px;
        max-height: 800px !important;
        position: fixed !important;
        top: 200px;
        width: 400px;
        height: 830px;
    }

    .boton-borde-azul {
        background-color: white;
        border: 2px solid #3FA9F5;
        border-radius: 15px;
        color: #3FA9F5;
        font-size: 1em;
        margin-right: 5px;
    }

    .selectdiv {
        position: relative;
        float: left;
    }

        .selectdiv:after {
            content: '\f107';
            font: normal 200 normal 20px/1 FontAwesome;
            color: #999;
            right: 15px;
            top: 2px;
            height: 34px;
            padding: 10px 10px 10px 8px;
            position: absolute;
            pointer-events: none;
        }

    /* IE11 hide native button */
    select::-ms-expand {
        display: none;
    }

    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        max-width: 320px;
        height: 40px;
        float: right;
        /*margin: 5px -10px;*/
        padding: 0px 35px 0px 5px;
        line-height: 1.75;
        color: #999;
        font-weight: 400;
        font-size: 1em;
        background-color: #ffffff;
        background-image: none;
        border: 2px solid #0ebeff;
        border-radius: 10px;
        -ms-word-break: normal;
        word-break: normal;
    }

    .flechas-caja:after {
        padding: 10px 0px 10px 0px !important;
    }

    .caja-texto {
        border: 2px solid #0ebeff;
        border-radius: 10px;
        height: 40px;
        color: #999;
        font-size: 1em;
    }

    .table {
        margin-bottom: 0px;
    }

    .dt-buttons {
        padding-top: 15px;
        height: 35px;
        padding-bottom: 25px;
    }

    .popover {
        max-width: 500px;
    }

    #mensaje-carga {
        color: #3FA9F5;
        font-size: 0.85em;
        background-color: white;
        border-radius: 15px;
        padding: 5px 2px 5px 2px;
        margin-bottom: 10px;
    }

    .btn {
        padding: 3px 6px;
    }

    body {
        zoom: 90%;
    }

    .zoom-container {
        transform: scale(0.75);
        transform-origin: top left; 
        width: 133.33%;
        height: 133.33%; 
        overflow-x: hidden; 
    }
</style>

<link href="~/Content/css/dateselector.css" rel="stylesheet" />

<div class="container-fluid">
    <div id="sec0" class="row-fluid" style="min-height:800px;">

        <div id="load"></div>

        <!--Ruta-->
        <div>
            <ol id="breadcrum" class="breadcrumb">
                <li><a href="~/Inicio/Submenu">Menú</a></li>
                <li><a class="active">OCAÑERA</a></li>
            </ol>
        </div>

        <!--Título-->
        <div class="col-md-12 text-center" style="height:100px; padding-top:15px; padding-bottom:20px;">
            <span class="color-texto-productividad" style="font-size:2em;">
                Cebolla <strong>OCAÑERA</strong>
                <img style="height:70px;" src="~/Content/imagenes/Iconos/cebolla.jpeg">
            </span>
        </div>

        <!--Contenido-->
        <div class="col-md-12 panel-principal-productividad">
            <div class="col-md-12 panel-alto-50" style="background-color:#CD2658; border-radius:10px">

                <!--Contenido de la página-->
                <div class="col-md-2 panel-alto-50" id="panel-mostrar">
                    <div class="col-md-12 text-center panel-alto-50" style="background-color: rgba(255,255,255,0.5); margin-bottom:10px; border-radius: 10px; margin-top: 20px">

                        <div class="col-md-12 text-center" style="background-color:white; margin-bottom:10px; border-radius: 10px; margin-top: 20px">
                            <h4 style="color:#dc3545; font-weight:bold"><a href="~/Inicio/Submenu">Menú</a></h4>
                        </div>

                        <div class="col-md-12" style="display: flex; justify-content: center; flex-wrap: wrap;">
                            <div class="panel-body" style="margin: 10px;">
                                <a href="~/Cebolla/Modelohidrico" title="Seguimiento metereológico" id="icono-brillo1">
                                    <img src="~/Content/imagenes/Iconos/SeguimientoMeteorologico.png" width="80" />
                                </a>
                            </div>

                            <div class="panel-body" style="margin: 10px;">
                                <a href="~/Cebolla/CebollaMapas" title="Indicadores de calidad de suelo, agua y oferta ambiental" id="icono-brillo2">
                                    <img src="~/Content/imagenes/Iconos/Indicadores.png" width="80" />
                                </a>
                            </div>

                            <div class="panel-body" style="margin: 10px;">
                                <a href="~/Cebolla/SeguimientoCultivo" title="Seguimiento a las condiciones del cultivo de cebolla ocañera" id="icono-brillo3">
                                    <img src="~/Content/imagenes/Iconos/BalanceHidrico.png" width="80" />
                                </a>
                            </div>

                            <div class="panel-body" style="margin: 10px;">
                                <a href="~/Content/Manualusuario.pdf" title="Manual de usuario" id="icono-brillo4">
                                    <img src="~/Content/imagenes/Iconos/Manualico.png" width="80" />
                                </a>
                            </div>

                            <div class="panel-body" style="margin: 10px;">
                                <a href="~/Cebolla/AdvertenciCebolla" title="Información adicional" id="icono-brillo4">
                                    <img src="~/Content/imagenes/Iconos/Informacionico.png" width="80" />
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Contenido de la página-->
                <div class="col-md-10 panel-alto-50" id="panel-mostrar">
                    <div class="col-md-12 text-center panel-alto-50" style="background-color: rgba(255,255,255,0.5); margin-bottom:10px; border-radius: 10px; margin-top: 20px">

                        <div class="col-md-12 text-center" style="background-color:white; margin-bottom:10px; border-radius: 10px; margin-top: 20px">
                            <h4 style="color:#3FA9F5; font-weight:bold">Presentación</h4>
                        </div>

                        <!--Leyenda-->
                        <div class="col-md-12 text-center" style="background-color:white; margin-bottom:10px; border-radius: 10px; margin-top: 20px">
                            <div style="text-align: justify; font-size:120%;">
                                <p>
                                    El módulo de cebolla de bulbo ocañera (OCAÑERA) es una herramienta para la toma de decisiones, accesible para diferentes niveles de usuario como productores, extensionistas, investigadores, académicos entre otros.  Además, OCAÑERA permite: en primer término, la consulta de información meteorológica en tiempo cuasi – real en un área representativa del núcleo productivo de cebolla ocañera; a partir de un modelo de balance hídrico agrícola, proporciona alertas sobre proporciona alertar sobre la disponibilidad de agua en el suelo para el cultivo de en el suelo para el cultivo de cebolla ocañera, generando alertas de estrés hídrico por déficit; finalmente, OCAÑERA proporciona información sobre indicadores de calidad de suelo, agua y oferta ambiental, a través de la determinación de la distribución espacial de la tasa de erosión media en el suelo, la huella hídrica (azul y verde) y el tiempo térmico en la zona de estudio.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Créditos -->
<div class="seccion-logos" id="sec1">
    <div class="container">
        <!--Logos-->
        <div class="row hidden-xs" style="background-color:white; padding: 10px 0 10px 0; height:100px; margin-top:0px;">
            <div class="col-md-4 col-sm-4 cuadro-logo">
                <img class="imagen-logo" src="~/Content/imagenes/Logos/fondo_adaptacion.png" />
            </div>
            <div class="col-md-4 col-sm-4 cuadro-logo">
                <img class="imagen-logo" src="~/Content/imagenes/Logos/LogoMADR.png" />
            </div>
            <div class="col-md-4 col-sm-4 cuadro-logo">
                <img class="imagen-logo" src="~/Content/imagenes/Logos/logo-agrosavia.png" />
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
<script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Scripts personalizados for all pages-->
<script src="~/Scripts/js/sb-admin-2.min.js"></script>


<script>
                $(document).ready(function () {
                    $('#load').hide();
                });
</script>

